{% extends "admin/change_form.html" %}
{% load i18n admin_urls %}

{% if not is_popup %}
{% block breadcrumbs %}
<ul class="breadcrumb">
  <li><a href="{% url 'admin:index' %}">{% trans 'Regional Overview' %}</a> <span class="divider">/</span></li>
  <li><a href="{% url 'admin:prescription_prescription_detail' current.id %}">{{ current.burn_id }}</a> <span class="divider">/</span></li>
  <li><a href="{% url 'admin:prescription_prescription_day_summary' current.id %}">Part B</a> <span class="divider">/</span></li>
  <li><a href="{{ briefing_checklist }}">Section B8 &#x2010; Briefing Checklist</a> <span class="divider">/</span></li>
  <li>Add Briefing Checklist Item</li>
</ul>
{% endblock %}
{% endif %}
