{% extends "admin/change_form.html" %}

{% block extrahead %}{{ block.super }}
<button type="button">Click</button>

{% block content_title %}{% if title %}<h1>{{ form_title }}</h1>{% endif %}{% endblock %}

<script>
$(function() {

    var current_url = $(location).attr('href');
    if (current_url.indexOf('add_fire') > -1) {
        $("#id_breadcrumb_name").text("Add Bushfire");
    }

    $("#id_date").datepicker({ dateFormat: "yy-mm-dd" }).val();
    $("#id_planned_area").attr("min", 0.1);
    $("#id_area").attr("min", 0.0);

    {% if not is_sdo %}
        $("#id_conditions").attr("disabled", "disabled");
    {% endif %}

    $("#id_region").click(function () {
        $.ajax({
            type: 'GET',
            url: "{% url 'admin:prescription_view' %}",
            data: {
                region: $("#id_region :selected").val()
            },
            success: function(response){
                var response = JSON.parse(response);
                $("#id_prescription").html(response.burn_ids)

            }
        })
    });

    $("#id_planned_area").change(function () {
        $.ajax({
            type: 'GET',
            url: "{% url 'admin:prescription_view' %}",
            data: {
                burn_id: $("#id_prescription :selected").text()
            },
            success: function(response){
                var response = JSON.parse(response);
                $("#id_planned_area").attr("max", response['prescription_area'])

            }
        })
    });

    $("#id_prescription").change(function () {
        console.log('True  ' + $("#id_prescription").val() )
        //$("#id_tenures").text( $('option:selected', $("#id_prescription")).text() );
        //$("#id_location").val("{% url 'admin:prescription_view' %}");

        $.ajax({
            type: 'GET',
            url: "{% url 'admin:prescription_view' %}",
            data: {
                //burn_id: $('option:selected', $("#id_prescription")).text()
                burn_id: $("#id_prescription :selected").text()
            },
            success: function(response){
                var response = JSON.parse(response);
                console.log("response " + response);
                //$("#id_approval_status").val(2);•
                //$("#id_approval_status option[value='1']").attr("selected", true);
                console.log("response.location " + response['location']);
                $("#id_location").val(response['location']);
                $("#id_tenures").val(response['tenures']);

                $( "#id_prescription_name").remove()
                $( "<p id='id_prescription_name'>" + response['prescription_name'] + "</p>" ).insertAfter( "#id_prescription" );
                $("#id_planned_area").attr("max", response['prescription_area'])

            }
            //success: console.log('success - jm' + checked_list), //remove_rows(),
        })


    });

    $("#id_fire_id").change(function () {
        $.ajax({
            type: 'GET',
            url: "{% url 'admin:prescription_view' %}",
            data: {
                district: $("#id_district :selected").val(),
                fire_id: $("#id_fire_id").val()
            },
            success: function(response){
                var response = JSON.parse(response);
                $( "#id_bushfire_code").remove()
                $( "<p id='id_bushfire_code'>" + response['bushfire_id'] + "</p>" ).insertAfter( "#id_fire_id" );
            }
        })
    });


        $("select#id_risk").prop('disabled', true);
        $("a#add_id_risk").hide();
        $('form').bind('submit', function() {
            $('select#id_risk').removeAttr('disabled');
        });

    //$("#id_date").attr('readonly','readonly')

    $(".datetimeshortcuts").find('a').remove()
    //$("#id_prescription").click(function () {
    //    $(".datetimeshortcuts").find('a').remove()
    //});

    //    if ('edit_form'.indexOf( $(location).attr('href') ) > 0 ) {
    //        console.log(string.indexOf(substring) > -1);
    //    }


});

</script>
{% endblock %}
