{% extends "admin/change_form.html" %}
{% load i18n admin_urls %}

{% if not is_popup %}
{% block breadcrumbs %}
<ul class="breadcrumb">
  <li><a href="{% url 'admin:index' %}">{% trans 'Regional Overview' %}</a> <span class="divider">/</span></li>
  <li><a href="{% url 'admin:prescription_regionalobjective_changelist' %}">{% trans 'Regional Fire Management Plan Objectives' %}</a> <span class="divider">/</span></li>
  <li>Add Regional Fire Management Plan Objective</li>
</ul>
{% endblock %}
{% endif %}

{% block extrahead %}
{{ block.super }}
<script>
    $(function() {
        $('#id_impact').change(function() {
            if ($(this).val() == 1) {
                $('#id_fma_names').prop('disabled', true);
            } else {
                $('#id_fma_names').prop('disabled', false);
            };
        }).change();
    });
</script>
{% endblock %}


{% block submit_buttons_top %}
<div class="navbar navbar-fixed-bottom">
  <div class="navbar-inner">
    <div class="container">
      <p class="pull-right">
        <input type="submit" value="Save" class="btn btn-primary btn-success" name="_save">
        <a id="id_cancel_button" href="javascript: history.go(-1)" class="btn btn-danger">Cancel</a>

      </p>
    </div>
  </div>
</div>
{% endblock %}

{% block submit_buttons_bottom %}
<div class="navbar navbar-fixed-bottom">
  <div class="navbar-inner">
    <div class="container">
      <p class="pull-right">
        <input type="submit" value="Save" class="btn btn-primary btn-success" name="_save">
        <a id="id_cancel_button" href="javascript: history.go(-1)" class="btn btn-danger">Cancel</a>

      </p>
    </div>
  </div>
</div>
{% endblock %}
