{% extends "admin/change_form.html" %}
{% load i18n admin_urls %}

{% if not is_popup %}
{% block breadcrumbs %}
<ul class="breadcrumb">
  <li><a href="{% url 'admin:index' %}">{% trans 'Regional Overview' %}</a> <span class="divider">/</span></li>
  <li><a href="{% url 'admin:prescription_prescription_detail' current.id %}">{{ current.burn_id }}</a> <span class="divider">/</span></li>
  <li><a href="{% url 'admin:prescription_prescription_day_summary' current.id %}">Part B</a> <span class="divider">/</span></li>
  <li><a href="{% url 'admin:implementation_edgingplan_changelist' current.id %}">Section B5 - Edging plan</a> <span class="divider">/</span></li>
  <li>Add edging plan</li>
</ul>
{% endblock %}
{% endif %}
