{% extends "admin/change_list.html" %}
{% load i18n staticfiles admin_list pbs_tags %}

{% block extrahead %}
  {{ block.super }}
  <script src="{% static 'pbs/js/auto-resize-text-input.js' %}"></script>
  <script>
    $(function() {
      $('table#result_list').on("keyup", "input[id$=name]", function() {
          $(this).keyup(resizeInput).each(resizeInput);
      });
    });
  {% if current.is_draft or perms.prescription.can_admin %}
  (function($) {
    $(function() {
      $("#result_list tbody tr").tabularFormset({
        prefix: "{{ cl.formset.prefix }}",
        adminStaticPrefix: '{% static "admin/" %}',
        addText: '<i class="icon-plus"></i> Add another track/trail'
      });
    });
  })(django.jQuery);
  {% endif %}
  </script>
  <style>
    .upload {
      margin-left: 5px;
      display: inline-block;
      vertical-align: center;
    }
  </style>
{% endblock %}

{% block breadcrumbs %}
<ul class="breadcrumb">
  <li><a href="{% url 'admin:index' %}">{% trans 'Regional Overview' %}</a> <span class="divider">/</span></li>
  <li><a href="{% url 'admin:prescription_prescription_detail' current.id %}">{{ current.burn_id }}</a> <span class="divider">/</span></li>
  <li><a href="{% url 'admin:prescription_prescription_day_summary' current.id %}">Part B</a> <span class="divider">/</span></li>
  <li>Section B3 &#x2010; Identification of tracks and trails associated with the burn plan</li>
</ul>
{% endblock %}

{% block content_title %}
<h1>Tracks and Trails Associated With the Burn Plan</h1>
{% endblock %}

{% block content %}
{{ block.super }}
<script type="text/javascript">
(function($) {
    $('input:checkbox').each(function(i, item) {
        var parent = $(item).parent();
        var link = '<a class="upload" id="' + $(item).attr('id') + '_upload" href="{% url 'admin:document_document_add' current.id %}?tag={{ "Track Trail Diversion Map"|tag_id }}&next={{ request.get_full_path }}"><i class="icon-upload-alt"></i> Upload</a>';
        parent.html(parent.html() + link);
    });
    $('input:checkbox').change(function() {
        var uploadLink = $('#' + $(this).attr('id') + '_upload');
        if ($(this).is(':checked')) {
            uploadLink.removeClass('hide');
        } else {
            uploadLink.addClass('hide');
        }
    });
    $('input:checkbox').change();
})(django.jQuery);
</script>
{% endblock %}

{% block object-tools %}{% endblock %}

{% block pre-submit-line %}
<h1>Diversion Maps<a href="{{ upload_document }}?tag={{ "Track Trail Diversion Map"|tag_id }}&next={{ request.get_full_path }}" class="pull-right btn btn-small btn-info"><i class="icon-plus"></i> Upload Diversion Map</a></h1>
{% filter_by_tag_name current.document_set "Track Trail Diversion Map" as document_set %}
{% include "admin/document_list.html" with document_type="Diversion Map" %}
{% endblock %}
