{% extends "admin/base_site.html" %}
{% load i18n staticfiles admin_list %}
{% load prescription_tags %}
{% load pagination_tags %}


{% block extrahead %}
{{ block.super }}
<style>
.filter-pad {
  margin-top: 5px;
  margin-bottom: -17px !important;
  margin-left: 10px;
}
.adjust-legend{
  margin-bottom:-40px;
}

.ui-datepicker {
    width: 216px;
    height: auto;
    margin: 5px auto 0;
    font: 9pt Arial, sans-serif;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, .5);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, .5);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, .5);
    background-color: #FFF;
}

.myCollapse {
      display: none;
}
.myCollapse.in {
      display: table-row;
}
</style>
{% endblock %}

{% block content %}
{% if report == "epfp_planned_burns" %}
<div class="row">
  <div class="span12 filter-top-pad">
      <p>Click on row to view the special conditions</p>
  </div>
</div>
{% endif %}

<ul id="report-tabs" class="nav nav-tabs">
    <li id="planned-tab"  "{% if report == "epfp_planned_burns" %} class="active"{% endif %}>
        <a href="{% url 'admin:daily_burn_program' %}?report=epfp_planned_burns">
            <i class="icon-tag"></i>
            Planned
        </a>
    </li>
    <li id="ongoing-tab" {% if report == "epfp_ongoing_burns" %} class="active"{% endif %}>
        <a href="{% url 'admin:daily_burn_program' %}?report=epfp_ongoing_burns">
            <i class="icon-plus"></i>
            Ongoing
        </a>
    </li>
    <li id="summary-tab"  "{% if report == "epfp_active_burns" %} class="active"{% endif %}>
        <a href="{% url 'admin:daily_burn_program' %}?report=epfp_active_burns">
            <i class="icon-fire"></i>
            Summary
        </a>
    </li>

    <li class="filter-pad">
        <form class="form-inline">
            {% if report == "epfp_planned_burns" %}
                <label for="id_date" class="control-label">Date</label>
                <input type="text" id="id_date" value="{{date}}" name="date"/>

                <label for="id_region" class="control-label">Region</label>
                {{ form.region }}

                <input class="hidden" name="report" value="epfp_planned_burns">
            {% elif report == "epfp_ongoing_burns" %}
                <label for="id_date" class="control-label">Date</label>
                <input type="text" id="id_date" value="{{date}}" name="date"/>

                <label for="id_ignition_type" class="control-label">Ignition Type</label>
                {{ form.ignition_type }}

                <label for="id_region" class="control-label">Region</label>
                {{ form.region }}

                <input class="hidden" name="report" value="epfp_ongoing_burns">
            {% elif report == "epfp_active_burns" %}
                <label for="id_date" class="control-label">Date</label>
                <input type="text" id="id_date" value="{{date}}" name="date"/>

                <label for="id_ignition_type" class="control-label">Ignition Type</label>
                {{ form.ignition_type }}

                <label for="id_region" class="control-label">Region</label>
                {{ form.region }}

                <input class="hidden" name="report" value="epfp_active_burns">
            {% endif %}
            <button type="submit" class="btn btn-primary">Update</button>
        </form>
    </li>

</ul>

{% if report == "epfp_planned_burns" %}

<div style="width: 50%; margin-left:25%; margin-right:25%; float: left">
    <div style="float: left">
        <table id="active-burn-table" class="table table-striped table-hover table-compressed" style="width:100%" border="2">
        <tr>
            <th>No. of Active Burns</th>
            <td>{{active_burns}}</td>
        </tr>
        </table>
    </div>

    <div style="float: right">
        <table id="active-fire-table" class="table table-striped table-hover table-compressed" style="width:100%" border="2">
        <tr>
            <th>No. of Active Fires</th>
            <td>{{active_fires}}</td>
        </tr>
        </table>
    </div>
</div>

<table id="sorted-table" class="table table-hover table-compressed">
  <thead>
    <tr>
      <th rowspan="2">Burn ID</th>
      <th rowspan="2">Name</th>
      <th rowspan="2"><div class="text-center">Location</div></th>
      <th rowspan="2"><div class="text-center">Burn Purpose</div></th>
      <th rowspan="2"><div class="text-center">Area</div></th>
      <th rowspan="2"><div class="text-center">Est Start WST</div></th>
      <th rowspan="2"><div class="text-center">Contingency Plan</div></th>
      <th rowspan="2"><div class="text-center">Monitoring Plan</div></th>
      <th colspan="2"><div class="text-center">Invite to Assist</div></th>
      <th rowspan="2"><div class="text-center">Special Conditions</div></th>
    </tr>
    <tr>
      <th> LGA </th>
      <th> DFES </th>
    </tr>
  </thead>
  <tbody>
    {% autopaginate queryset 25 %}
    {% for qs in queryset %}
    <tr class="row-vm" data-toggle="myCollapse" data-target="#{{qs.id}}">
      <td><a href="{% url 'admin:prescription_prescription_detail' qs.prescription.id %}">{{ qs.prescription.burn_id }}</a></td>
      <td>{{ qs.prescription.name }}</td>
      <td>{{ qs.prescription.location }}</td>
      <td>
        {% for purpose in qs.prescription.purposes_list %}
            {{ purpose }}
            <br>
        {% endfor %}
       </td>
      <td>{{ qs.area }}</td>
      <td>{{ qs.est_start }}</td>
      <td>{% if qs.has_contigency %}<div class="text-center"><i class="icon-ok text-success"></i></div>{% endif %}</td>
      <td>{% if qs.has_monitoring %}<div class="text-center"><i class="icon-ok text-success"></i></div>{% endif %}</td>
      <td>{% if qs.contains_lga %}<div class="text-center"><i class="icon-ok text-success"></i></div>{% endif %}</td>
      <td>{% if qs.contains_dfes %}<div class="text-center"><i class="icon-ok text-success"></i></div>{% endif %}</td>
      <td>{% if qs.has_conditions %}<div class="text-center"><i class="icon-ok text-success"></i></div>{% endif %}</td>
    </tr>
    {% if qs.has_conditions %}
    <tr class="myCollapse row-details expand-child" id="{{qs.id}}">
      <td colspan="11">{{ qs.conditions }}</td>
    </tr>
    {% endif %}
    {% endfor %}
  </tbody>
</table>
{% endif %}
{% paginate %}

{% if report == "epfp_ongoing_burns" %}
<table id="sorted-table" class="table table-striped table-hover table-compressed">
  <thead>
    <tr>
      <th rowspan="2">Burn ID</th>
      <th rowspan="2">Name</th>
      <th colspan="3"><div class="text-center">Burn Status</div></th>
      <th rowspan="2"><div class="text-center">Achieved yesterday</div></th>
      <th rowspan="2"><div class="text-center">Tenure</div></th>
      <th rowspan="2"><div class="text-center">External Assist</div></th>
    </tr>
    <tr>
      <th> Active </th>
      <th> Further ignitions req </th>
      <th> Ignition now completed </th>
    </tr>
  </thead>
  <tbody>
    {% autopaginate queryset 25 %}
    {% for qs in queryset %}
    <tr class="row-vm" data-toggle="myCollapse" data-target="#{{qs.id}}">
      <td>
        {% if qs.prescription %}
           <a href="{% url 'admin:prescription_prescription_detail' qs.prescription.id %}">{{ qs.prescription.burn_id }}</a>
        {% else %}
            {{ qs.ignition_id }}
        {% endif %}
      </td>
      <td>{{ qs.ignition_desc }}</td>
      <td>{% if qs.burn_active %}<div class="text-center"><i class="icon-ok text-success"></i></div>{% endif %}</td>
      <td>{% if qs.further_ignitions %}<div class="text-center"><i class="icon-ok text-success"></i></div>{% endif %}</td>
      <td>{% if qs.ignition_completed %}<div class="text-center"><i class="icon-ok text-success"></i></div>{% endif %}</td>
      <td>{% if qs.area %}<div class="text-center">{{ qs.area }}</div>{% endif %}</td>
      <td>
        {% for tenure in qs.tenures %}
            {{ tenure }}
            <br>
        {% endfor %}
      </td>
      <td>{% if qs.external_assist %}<div class="text-center"><i class="icon-ok text-success"></i></div>{% endif %}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endif %}
{% paginate %}

{% if report == "epfp_active_burns" %}
<div style="width: 50%; margin-left:25%; margin-right:25%; float: left">
        <table id="active-burn-table" class="table table-striped table-hover table-compressed" style="width:100%" border="2">
        <thead>
            <tr>
                <th id="name"></th>
                <th id="active_burns">Active Burns</th>
                <th id="active_fires">Active Fires</th>
            </tr>
        </thead>

        <tbody>
        <tr>
            <th>Active Burns and Fires - Statewide</th>
            <td>{{active_burns_stateside}}</td>
            <td>{{active_fires_stateside}}</td>
        </tr>
        <tr>
            <th>Active Burns and Fires - Southwest Bushfire Risk Zone</th>
            <td>{{active_burns_non_stateside}}</td>
            <td>{{active_fires_non_stateside}}</td>
        </tr>
        </tbody>

        </table>
</div>

<table id="sorted-table" class="table table-striped table-hover table-compressed">
  <thead>
    <tr>
      <th rowspan="1"><div class="text-center">Burn ID</div></th>
      <th rowspan="1"><div class="text-center">Name/Block</div></th>
      <th rowspan="1"><div class="text-center">Position</div></th>
      <th rowspan="1"><div class="text-center">Burn Purpose</div></th>
      <th rowspan="1"><div class="text-center">Area</div></th>
      <th rowspan="1"><div class="text-center">Est Start WST</div></th>
    </tr>
  </thead>
  <tbody>
    {% autopaginate queryset 25 %}
    {% if ignition_type != 2 %}
    {% for qs in queryset %}
    <tr class="row-vm" data-toggle="myCollapse" data-target="#{{qs.id}}">
      <td>
        {% if qs.prescription %}
           <a href="{% url 'admin:prescription_prescription_detail' qs.prescription.id %}">{{ qs.prescription.burn_id }}</a>
        {% else %}
            {{ qs.ignition_id }}
        {% endif %}
      </td>
      <td>{{ qs.prescription.name }}</td>
      <td><div class="text-center">{{ qs.prescription.location }}</div></td>
      <td>
        <div class="text-center">
        {% for purpose in qs.prescription.purposes_list %}
            {{ purpose }}
            <br>
        {% endfor %}
        </div>
      </td>
      <td><div class="text-center">{{ qs.area }}</div></td>
      <td><div class="text-center">{{ qs.est_start }}</div></td>
    </tr>
    {% endfor %}
    {% endif %}

    {% for qs in qs_ongoing %}
    <tr class="row-vm" data-toggle="myCollapse" data-target="#{{qs.id}}">
      <td>
        {% if qs.prescription %}
           <a href="{% url 'admin:prescription_prescription_detail' qs.prescription.id %}">{{ qs.prescription.burn_id }}</a>
        {% else %}
            {{ qs.ignition_id }}
        {% endif %}
      </td>
      <td>{{ qs.ignition_desc }}</td>
      <td><div class="text-center">{{ qs.prescription.location }}</div></td>
      <td>
        <div class="text-center">
        {% for purpose in qs.prescription.purposes_list %}
            {{ purpose }}
            <br>
        {% endfor %}
        </div>
      </td>
      <td><div class="text-center">{{ qs.area }}</div></td>
      <td><div class="text-center">{{ qs.est_start }}</div></td>
    </tr>
    {% endfor %}

  </tbody>
</table>

{% endif %}
{% paginate %}


<script>
$(function(){
     $("[data-toggle=myCollapse]").click(function( ev ) {
       ev.preventDefault();
       var target;
       if (this.hasAttribute('data-target')) {
     target = $(this.getAttribute('data-target'));
       } else {
     target = $(this.getAttribute('href'));
       };
       target.toggleClass("in");
     });

     $("#sorted-table td a").on('click', function (e) { e.stopPropagation(); })

    $("#sorted-table").tablesorter();
    $("#burns-table tr:contains('Total')").css("font-weight","bold");

    $("#id_fromDate").datepicker({ dateFormat: "dd-mm-yy" }).val();
    $("#id_toDate").datepicker({ dateFormat: "dd-mm-yy" }).val();

    $("#id_toDate").change(function () {
      var fromDate = $("#id_fromDate").datepicker({ dateFormat: "dd-mm-yy" }).val();
      var toDate = $("#id_toDate").datepicker({ dateFormat: "dd-mm-yy" }).val();
      if ( ($.datepicker.parseDate('dd-mm-yy', fromDate)) >  $.datepicker.parseDate('dd-mm-yy', toDate))  {
        alert("'From Date' cannot be after 'To Date' ");
      }
    });

    $("#id_fromDate").change(function () {
      var fromDate = $("#id_fromDate").datepicker({ dateFormat: "dd-mm-yy" }).val();
      var toDate = $("#id_toDate").datepicker({ dateFormat: "dd-mm-yy" }).val();
      if ( ($.datepicker.parseDate('dd-mm-yy', fromDate)) >  $.datepicker.parseDate('dd-mm-yy', toDate))  {
        alert("'From Date' cannot be after 'To Date' ");
      }
    });

    $("#id_csv").click(function () {
      var fromDate = $("#id_fromDate").val();
      var toDate = $("#id_toDate").val();
      var urlStr = '?fromDate=' + fromDate + '&toDate=' + toDate + '&Export_CSV=export_csv'
      $("#id_href").attr("href", urlStr);
    });
});
</script>
{% endblock %}
