{% extends "admin/base_site.html" %}
{% load i18n staticfiles admin_list %}
{% load prescription_tags %}
{% load pbs_tags %}
{% load pagination_tags %}


{% block extrahead %}
{{ block.super }}
<style>
.filter-pad {
  margin-top: 5px;
  margin-bottom: -17px !important;
  margin-left: 10px;
}
.adjust-legend{
  margin-bottom:-40px;
}

.ui-datepicker {
    width: 216px;
    height: auto;
    margin: 5px auto 0;
    font: 9pt Arial, sans-serif;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, .5);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, .5);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, .5);
    background-color: #FFF;
}

.myCollapse {
      display: none;
}
.myCollapse.in {
      display: table-row;
}

#content {
    float:left;
    text-align:left;
    width:90%;
}

select, button{
    vertical-align:top;
}

.main-table tr {
    cursor: pointer;
}

</style>
{% endblock %}

{% block extrastyle %}

<link rel="stylesheet" href="{% static "css/jquery-ui-1.11.4.min.css" %}">
{% endblock %}

{% block content %}
{% comment %}
{% if report == "epfp_planned_burns" %}
<div class="row">
  <div class="span12 filter-top-pad">
      <p>Click on row to view the special conditions</p>
  </div>
</div>
{% endif %}
{% endcomment %}

<div style="width: 50%; margin-left:25%; margin-right:25%; float: left">
        <table id="active-burn-table" class="table table-hover table-compressed" style="width:100%" border="2">
        <thead>
            <tr>
                <th nowrap id="name">Date: {{ date }}</th>
                <th nowrap id="active_burns">Active Burns</th>
                <th nowrap id="active_fires">Active Bushfires</th>
            </tr>
        </thead>

        <tbody>
        <tr>
            <th>Active Burns and Bushfires - Statewide</th>
            <td>{{active_records.active_burns_statewide}}</td>
            <td>{{active_records.active_fires_statewide}}</td>
        </tr>
        <tr>
            <th>Active Burns and Bushfires - Southwest Bushfire Risk Zone</th>
            <td>{{active_records.active_burns_non_statewide}}</td>
            <td>{{active_records.active_fires_non_statewide}}</td>
        </tr>
        </tbody>

        </table>

</div>

<ul id="filters" class="nav">
    <li class="filter-pad">
        <form class="form-inline">
            <div id="content">
            {% if report == "epfp_planned" %}
                <label for="id_date" class="control-label">Date</label>
                <input type="text" id="id_date" value="{{date}}" name="date"/>

                <label for="id_region" class="control-label">Region</label>
                {{ form.region }}

                <label for="id_district" class="control-label">District</label>
                {{ form.district }}
                <button type="submit" class="btn btn-primary">Update</button>

                <br>
                <br>
                <label for="id_approval_status" class="control-label">Status</label>
                {{ form.approval_status }}

                <input class="hidden" style="float: right;" name="report" value="epfp_planned">
                <br>
                <br>

            {% elif report == "epfp_fireload" %}
                <label for="id_date" class="control-label">Date</label>
                <input type="text" id="id_date" value="{{date}}" name="date"/>

                <label for="id_region" class="control-label">Region</label>
                {{ form.region }}

                <label for="id_district" class="control-label">District</label>
                {{ form.district }}
                <button type="submit" class="btn btn-primary">Update</button>

                <br>
                <br>
                <label for="id_fire_type" class="control-label">Fire Type</label>
                {{ form.fire_type }}

                <label for="id_approval_status" class="control-label">Status</label>
                {{ form.approval_status }}

                <input class="hidden" style="float: right;" name="report" value="epfp_fireload">
                <br>
                <br>

            {% elif report == "epfp_summary" %}
                <label for="id_date" class="control-label">Date</label>
                <input type="text" id="id_date" value="{{date}}" name="date"/>

                <label for="id_region" class="control-label">Region</label>
                {{ form.region }}

                <label for="id_district" class="control-label">District</label>
                {{ form.district }}

                <input class="hidden" style="float: right;" name="report" value="epfp_summary">
                <button type="submit" class="btn btn-primary">Update</button>
                <br>
                <br>

            {% comment %}
            {% elif report == "epfp_aircraft" %}
                <label for="id_date" class="control-label">Date</label>
                <input type="text" id="id_date" value="{{date}}" name="date"/>

                <label for="id_region" class="control-label">Region</label>
                {{ form.region }}

                <label for="id_approval_status" class="control-label">Status</label>
                {{ form.approval_status }}

                <input class="hidden" style="float: right;" name="report" value="epfp_aircraft">
                <button type="submit" class="btn btn-primary">Update</button>
                <br>
                <br>
            {% endcomment %}

            {% endif %}
            </div>
        </form>
    </li>

</ul>


<ul id="report-tabs" class="nav nav-tabs">
    <li id="planned-tab"  "{% if report == "epfp_planned" %} class="active"{% endif %}>
        <a href="{% url 'admin:daily_burn_program' %}?report=epfp_planned&date={{date}}">
            <i class="icon-tag"></i>
            Planned Burns (268a)
        </a>
    </li>
    <li id="fireload-tab" {% if report == "epfp_fireload" %} class="active"{% endif %}>
        <a href="{% url 'admin:daily_burn_program' %}?report=epfp_fireload&date={{date}}">
            <i class="icon-plus"></i>
            Fire Load (268b)
        </a>
    </li>
    <li id="summary-tab"  "{% if report == "epfp_summary" %} class="active"{% endif %}>
        <a href="{% url 'admin:daily_burn_program' %}?report=epfp_summary&date={{date}}">
            <i class="icon-fire"></i>
            Approved Burns (268c)
        </a>
    </li>

    {% comment %}
    <li id="aircraft-tab"  "{% if report == "epfp_aircraft" %} class="active"{% endif %}>
        <a href="{% url 'admin:aircraft_burn_program' %}?date={{date}}">
            <i class="icon-plane"></i>
            Aircraft Burns (301)
        </a>
    </li>
    {% endcomment %}

<div class="dropdown btn btn-medium" style="float: right">
  <a id="dropdown_btn" data-target="#" href="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
    Create PDF / Report
    <span class="caret"></span>
  </a>

  <ul class="dropdown-menu" aria-labelledby="dropdown-btn">
      {% comment %}
    <li><a value="all_form268" href="{% url 'admin:create_dailyburns_pdf' %}?date={{date}}&template=daily_burn_program">All Forms</a></li>
      {% endcomment %}
    <li><a value="all_form268" href="javascript: pdf_url('daily_burn_program');">All Forms</a></li>
    <li><a value="form268a" href="javascript: pdf_url('form268a');">Form 268a</a></li>
    <li><a value="form268b" href="javascript: pdf_url('form268b');">Form 268b</a></li>
    <li><a value="form268c" href="javascript: pdf_url('form268c');">Form 268c</a></li>
    {% comment %}<li><a value="form301" href="{% url 'admin:create_aircraftburns_pdf' %}?date={{date}}&template=form301">Form 301</a></li>{% endcomment %}
    <li><a value="form268a_rdo" href="javascript: pdf_url('form268a_rdo');">Form 268a (RDO)</a></li>
    <li><a value="form268b_rdo" href="javascript: pdf_url('form268b_rdo');">Form 268b (RDO)</a></li>
    <li><a value="export_csv" href="{% url 'admin:daily_burn_program_exportcsv' %}?date={{date}}&Export_CSV=export_csv">Export CSV</a></li>
    <li><a value="export_csv" href="{% url 'admin:csv_view' %}">FMSB Report</a></li>
    {% if can_admin or request.user|has_group:"FMSB GIS" %}
        <li><a value="kmi_download_url" href="{{kmi_download_url}}">KML - Download Today's Burns</a></li>
        <li><a value="csv_download_url" href="{{csv_download_url}}">CSV - Download Today's Burns</a></li>
        <li><a value="shp_download_url" href="{{shp_download_url}}">SHP - Download Today's Burns</a></li>
    {% endif %}
  </ul>
</div>

</ul>

{% if report == "epfp_planned" %}
<div>
    {% comment %}
    <a class="btn btn-small btn-info" style="float: right" href="{{ add_prescribed_burn }}"><i class="icon-plus icon-white"></i> Add Planned Burn</a>
    {% endcomment %}
    <a class="btn btn-small btn-help" style="float: right" href="{% url 'admin:help_view' %}?report=epfp_planned"><i class="icon-info"></i> Help</a>
    <a class="btn btn-small btn-info" style="float: right" href="{% url 'admin:review_prescribedburn_add' %}?form=add_burn"><i class="icon-plus icon-white"></i> Add Planned Burn</a>

    <span>Action</span>
    <select id="actions">
    <option value="0" selected="selected">----</option>
    <option value="1">District Submit</option>
    <option value="2">Regional Endorsement</option>
    <option value="3">State Approval</option>
    <option value="4">Delete District Submit</option>
    <option value="5">Delete Regional Endorsement</option>
    <option value="6">Delete State Approval</option>
    <option value="7">Delete Record</option>
    <option value="8">Copy Record to Tomorrow</option>
    {% if can_admin or request.user|has_group:"FMSB GIS" %}
        <option value="9">Update Daily Burn Links</option>
    {% endif %}
    </select>
    <button id="update-button" class="btn btn-small btn-info" type="button" disabled>Go</button>
</div>


{% comment %}
<a class="btn btn-small btn-info" href="{{ add_planned_burn }}?next={{ request.get_full_path }}">
<a class="btn btn-small btn-info" href="{{ add_planned_burn }}">
    <i class="icon-plus icon-white"></i> Add Planned Burn
</a>
{% endcomment %}

<table id="planned-table" class="main-table table table-hover table-compressed">
  <thead>
    <tr>
      <th rowspan="2"><input type="checkbox" name ="check_all" onClick=toggle(this) /></th>
      <th rowspan="2">Burn ID <i class="icon-sort"></i></th>
      <th rowspan="2">Name <i class="icon-sort"></i></th>
      <th rowspan="2"><div class="text-left">Location <i class="icon-sort"></i></div></th>
      <th nowrap rowspan="2"><div class="text-center">Today's treatment <i class="icon-sort"></i><br>area/km</div></th>
      <th nowrap rowspan="2"><div class="text-center">Est Start <i class="icon-sort"></i><br>WST</div></th>
      <th nowrap colspan="3"><div class="text-center">Approval Status</div></th>
      <th nowrap rowspan="2"><div class="text-center">SDO Special  <i class="icon-sort"></i><br>Conditions</div></th>
      <th></th>
    </tr>
    <tr>
        <th nowrap><div class="text-center" data-toggle="tooltip" title="District Nomination">District <i class="icon-sort"></i><br>Submit</div></th>
        <th nowrap><div class="text-center" data-toggle="tooltip" title="Regional Endorsement">Region <i class="icon-sort"></i><br>Endorse</div></th>
        <th nowrap><div class="text-center" data-toggle="tooltip" title="State Approval">State <i class="icon-sort"></i><br>Approval</div></th>
    </tr>

  </thead>
  <tbody>
  {% comment %}{% autopaginate qs_burn 25 %} {% endcomment%}
    {% for qs in qs_burn %}
    {% if qs.prescription %}
    <tr class="row-vm" data-toggle="myCollapse" data-target="#{{qs.id}}">
      <td><input type="checkbox" name="chkbox" value={{ qs.id  }}  /></td>
      <td nowrap><a data-toggle="tooltip" title="Click to view prescription" href="{% url 'admin:prescription_prescription_detail' qs.prescription.id %}">{{ qs.prescription.burn_id }}</a>{% if qs.rolled %}<font color="red"> (r)</font>{% endif %}</td>
      <td><div data-toggle="tooltip" title="Click on row to open / close additional details">{{ qs.prescription.name }}</div></td>
      <td>{{ qs.location }}</td>
      <td>{% if qs.planned_area == None and qs.planned_distance == None%}<div class="text-center"><font color="red">Unset</font></div>{% else %}<div class="text-center">{{ qs.planned_area_str }}</div>{% endif %}</td>
      <td><div class="text-center">{{ qs.est_start }}</div></td>
      <td>{% if qs.user_a_record %}<div class="text-center" data-toggle="tooltip" title="{{ qs.user_a_record }}"><span style="display:none">2</span><i class="icon-ok text-success"></i></div>{% else %}<span style="display:none">1</span>{% endif %}</td>
      <td>{% if qs.srm_a_record %}<div class="text-center" data-toggle="tooltip" title="{{ qs.srm_a_record  }}"><span style="display:none">2</span><i class="icon-ok text-success"></i></div>{% else %}<span style="display:none">1</span>{% endif %}</td>
      <td>{% if qs.sdo_a_record %}<div class="text-center" data-toggle="tooltip" title="{{ qs.sdo_a_record  }}"><span style="display:none">2</span><i class="icon-ok text-success"></i></div>{% else %}<span style="display:none">1</span>{% endif %}</td>
      <td >{% if qs.has_conditions %}<div class="text-center" data-toggle="tooltip" title="Click on row to open / close additional details"><span style="display:none">2</span><i class="icon-ok text-success"></i></div>{% else %}<span style="display:none">1</span>{% endif %}</td>
      <td><a data-toggle="tooltip" title="Edit" id="edit-plannedburn" href="{% url 'admin:review_prescribedburn_change' qs.id %}?form=edit_burn" class="btn btn-mini alert-error"><i class="icon-edit"></i></a></td>
      <td><a data-toggle="tooltip" title="Delete" id="delete-plannedburn" href="{% url 'admin:bulk_delete' %}?object_ids={{qs.id}}" class="btn btn-mini alert-error"><i class="icon-trash"></i></a></td>
    </tr>
    <tr class="myCollapse row-details expand-child" id="{{qs.id}}">

      <td colspan="10">
          <table class="table table-bordered table-striped table-condensed">
            <tbody>
              <tr>
                <th>Burn ID</th>
                <td><a href="{% url 'admin:prescription_prescription_detail' qs.prescription.id %}">{{ qs.prescription.burn_id }}</a></td>
                <th>Burn name</th>
                <td colspan="3">{{ qs.prescription.name }}</td>
              </tr>
              <tr>
                <th>Region</th>
                <td>{{ qs.get_region_display }}</td>
                <th>District</th>
                <td colspan="3">{{ qs.district }}</td>
              </tr>
              <tr>
                <th>Aerial ignition?</th>
                <td>{% if qs.prescription.aircraft_burn %}Aerial{% else %}Ground{% endif %}</td>
                <th>Planned area (ha)</th>
                <td colspan="3">{{ qs.prescription.area }}</td>
              </tr>
              <tr>
                <th>Risk level</th>
                <td>{{ qs.prescription.maximum_risk_html }}</td>
                <th>Contentious?</th>
                <td colspan="3">{% if qs.prescription.contentious %}Yes{% else %}No{% endif %}</td>
              </tr>
              <tr>
                <th>Block</th>
                <td>{% if qs.prescription.forest_blocks %}{{ qs.prescription.forest_blocks }}{% else %}None{% endif %}</td>
                <th>Location</th>
                <td colspan="3">{{ qs.location }}</td>
              </tr>
              <tr>
                <th>Prohibited Period</th>
                <td>{% if qs.prescription.prohibited_period %}{{ qs.prescription.prohibited_period }}{% else %}None{% endif %}</td>
                <th>Burn Purpose(s)</th>
                <td>{{ qs.prescription.purposes_list }}</td>
              </tr>
              <tr>
                <th>Cell Name</th>
                <td>
                    {% for seq in qs.prescription.lightingsequence_set.all %}
                      {{ seq.cellname }}
                      <br>
                    {% endfor %}
                </td>
                <th>Wind Direction</th>
                <td colspan="3">
                    {% for seq in qs.prescription.lightingsequence_set.all %}
                      {{ seq.wind_dir }}
                      <br>
                    {% endfor %}
                </td>
              </tr>

              <tr>
                <th>Assistance received from</th>
                <td>{{ qs.external_assist_str }}</td>
                <th>Tenure</th>
                <td colspan="3">{{ qs.tenures_str }}</td>
              </tr>

              <tr>
                <th>SDO Special Conditions</th>
                <td colspan="5">{{ qs.conditions }}</td>
              </tr>
              <tr>
                <th>Last Ignition</th>
                <td colspan="5">{{ qs.last_ignition }}</td>
              </tr>
              <tr>
                <th>Latitude</th>
                <td>{{ qs.latitude }}</td>
                <th>Longitude</th>
                <td colspan="3">{{ qs.longitude }}</td>
              </tr>
              <tr>
                <th>Submit</th>
                <td>{{ qs.user_a_record  }}</td>
                <th>RDO</th>
                <td>{{ qs.srm_a_record  }}</td>
                <th>SDO</th>
                <td>{{ qs.sdo_a_record  }}</td>
              </tr>
              <tr>
                <th>ePFP Approval Date</th>
                <td>{{ qs.prescription.current_approval }}</td>
                <th>Prescribing Officer</th>
                <td colspan="3">{{ qs.prescription.prescribing_officer.get_full_name }}</td>
              </tr>

            </tbody>
          </table>
        </td>

    </tr>
    {% endif %}
    {% endfor %}
  </tbody>
</table>
{% endif %}

{% if report == "epfp_fireload" %}
<div>
    {% comment %}
    <a class="btn btn-small btn-info" style="float: right" href="{% url 'admin:addfire_view' %}"><i class="icon-plus icon-white"></i> Add Bushfire</a>
    {% endcomment %}
    <a class="btn btn-small btn-help" style="float: right" href="{% url 'admin:help_view' %}?report=epfp_fireload"><i class="icon-info"></i> Help</a>
    <a class="btn btn-small btn-danger" style="float: right" href="{% url 'admin:review_prescribedburn_add' %}?form=add_fire"><i class="icon-plus icon-white"></i> Add Bushfire</a>
    <a class="btn btn-small btn-info" style="float: right" href="{% url 'admin:review_prescribedburn_add' %}?form=add_active_burn"><i class="icon-plus icon-white"></i> Add Burn</a>

    <span>Action</span>
    <select id="actions">
    <option value="0" selected="selected">----</option>
    <option value="1">District Entered</option>
    <option value="2">Regional Acknowledgement</option>
    <option value="3">State Acknowledgement</option>
    <option value="4">Delete District Entry</option>
    <option value="5">Delete Regional Acknowledgement</option>
    <option value="6">Delete State Acknowledgement</option>
    <option value="7">Delete Record</option>
    </select>
    <button id="update-button" class="btn btn-small btn-info" type="button" disabled>Go</button>
</div>



<table id="fireload-table" class="main-table table table-hover table-compressed">
  <thead>
    <tr>
      <th rowspan="2"><input type="checkbox" name ="check_all" onClick=toggle(this) /></th>
      <th nowrap rowspan="2">ID <i class="icon-sort"></i></th>
      <th nowrap rowspan="2">Name <i class="icon-sort"></i></th>
      <th nowrap rowspan="2">Type <i class="icon-sort"></i></th>
      <th nowrap colspan="2"><div class="text-center">Burn Status</div></th>
      <th nowrap colspan="3"><div class="text-center">Acknowledgement</div></th>
      <th nowrap rowspan="2"><div class="text-center">Yesterday's area <i class="icon-sort"></i><br>(ha or km)</div></th>
    </tr>
    <tr>
        <th nowrap> Active  <i class="icon-sort"></i></th>
        <th nowrap> <div class="text-center">Further ignitions <i class="icon-sort"></i><br>required</div></th>
        <th nowrap> District <i class="icon-sort"></i></th>
        <th nowrap> Region <i class="icon-sort"></i></th>
        <th nowrap> State  <i class="icon-sort"></i></th>
    </tr>

  </thead>
  <tbody>
    {% comment %}{% autopaginate qs_burn 25 %} {% endcomment%}
    {% for qs in qs_fireload %}
    <tr class="row-vm" data-toggle="myCollapse" data-target="#{{qs.id}}">
      <td><input type="checkbox" name="chkbox" value={{ qs.id  }}  /></td>
      <td nowrap>
        {% if qs.prescription %}
           <a data-toggle="tooltip" title="Click to view prescription" href="{% url 'admin:prescription_prescription_detail' qs.prescription.id %}">{{ qs.prescription.burn_id  }}</a>
        {% else %}
           {{ qs.fire_id  }}
        {% endif %}
        {% if qs.rolled %}<font color="red"> (r)</font>{% endif %}
      </td>
      <td><div data-toggle="tooltip" title="Click on row to open / close additional details">{{ qs.name }}</div></td>
      <td>{{ qs.fire_type }}</td>

      <td>{% if qs.active %}<div class="text-center"><span style="display:none">2</span><i class="icon-ok text-success"></i></div>{% elif qs.active == None %}<span style="display:none">1</span><font color="red">Unset</font>{% else %}<div class="text-center"><span style="display:none">0</span><i class="icon-remove text-error"></i></div>{% endif %}</td>
      <td>{% if qs.further_ignitions_req %}<div class="text-center"><span style="display:none">2</span><i class="icon-ok text-success"></i></div>{% else %}<span style="display:none">1</span>{% endif %}</td>

      <td>{% if qs.user_b_record %}<div class="text-center" data-toggle="tooltip" title="{{ qs.user_b_record  }}"><div class="text-center"><span style="display:none">2</span><i class="icon-ok text-success"></i></div>{% else %}<span style="display:none">1</span>{% endif %}</td>
      <td>{% if qs.srm_b_record %}<div class="text-center" data-toggle="tooltip" title="{{ qs.srm_b_record  }}"><div class="text-center"><span style="display:none">2</span><i class="icon-ok text-success"></i></div>{% else %}<span style="display:none">1</span>{% endif %}</td>
      <td>{% if qs.sdo_b_record %}<div class="text-center" data-toggle="tooltip" title="{{ qs.sdo_b_record  }}"><div class="text-center"><span style="display:none">2</span><i class="icon-ok text-success"></i></div>{% else %}<span style="display:none">1</span>{% endif %}</td>

      <td>{% if qs.area == None and qs.distance == None%}<div class="text-center"><font color="red">Unset</font></div>{% else %}<div class="text-center">{{ qs.area_str }}</div>{% endif %}</td>
      {% if qs.prescription %}
        <td><a data-toggle="tooltip" title="Edit" id="edit-burn" href="{% url 'admin:review_prescribedburn_change' qs.id %}?form=edit_active_burn" class="btn btn-mini alert-error"><i class="icon-edit"></i></a></td>
      {% else %}
        <td><a data-toggle="tooltip" title="Edit" id="edit-burn" href="{% url 'admin:review_prescribedburn_change' qs.id %}?form=edit_fire" class="btn btn-mini alert-error"><i class="icon-edit"></i></a></td>
      {% endif %}
      <td><a data-toggle="tooltip" title="Delete" id="delete-burn" href="{% url 'admin:review_prescribedburn_delete' qs.id %}" class="btn btn-mini alert-error"><i class="icon-trash"></i></a></td>
    </tr>
    <tr class="myCollapse row-details expand-child" id="{{qs.id}}">
       {% comment %}
      <td colspan="11">External Assist: {{ qs.external_assist_str }}</td>
       {% endcomment %}

      <td colspan="10">
          <table class="table table-bordered table-striped table-condensed">
            <tbody>
              <tr>
                <th>ID</th>
                {% if qs.prescription %}
                  <td><a href="{% url 'admin:prescription_prescription_detail' qs.prescription.id %}">{{ qs.prescription.burn_id }}</a></td>
                {% else %}
                <td>{{ qs.fire_id  }}</td>
                {% endif %}
                <th>Burn name</th>
                <td colspan="3">{{ qs.name }}</td>
              </tr>
              <tr>
                <th>Region</th>
                <td>{{ qs.get_region_display }}</td>
                <th>District</th>
                <td colspan="3">{{ qs.district }}</td>
              </tr>
              <tr>
                <th>Tenure</th>
                <td colspan="5">{{ qs.tenures_str }}</td>
              </tr>

              {% if qs.prescription %}
                <tr>
                    <th>Burn Purpose</th>
                    <td>{{ qs.prescription.purposes_list }}</td>
                    <th>SDO Special Conditions</th>
                    <td colspan="3">{{ qs.conditions }}</td>
                </tr>
                <tr>
                    <th>Prohibited Period</th>
                    <td>{% if qs.prescription.prohibited_period %}{{ qs.prescription.prohibited_period }}{% else %}None{% endif %}</td>
                    <th>Last Ignition</th>
                    <td colspan="3">{{ qs.last_ignition }}</td>
                </tr>
                <tr>
                    <th>Location</th>
                    <td colspan="5">{{ qs.location }}</td>
                </tr>
                <tr>
                    <th>Latitude</th>
                    <td>{{ qs.latitude }}</td>
                    <th>Longitude</th>
                    <td colspan="3">{{ qs.longitude }}</td>
                </tr>

              {% endif %}

              <tr>
                <th>Submit</th>
                <td>{{ qs.user_b_record  }}</td>
                <th>RDO</th>
                <td>{{ qs.srm_b_record  }}</td>
                <th>SDO</th>
                <td>{{ qs.sdo_b_record  }}</td>
              </tr>


            </tbody>
          </table>
        </td>

    </tr>

    {% endfor %}
  </tbody>
</table>

{% endif %}

{% if report == "epfp_summary" %}
<table id="summary-table" class="main-table table table-hover table-compressed">
  <thead>
    <tr>
      <th></th>
      <th rowspan="1"><div class="text-center">Burn ID <i class="icon-sort"></i></div></th>
      <th rowspan="1"><div class="text-center">Name/Block <i class="icon-sort"></i></div></th>
      <th rowspan="1"><div class="text-center">Position <i class="icon-sort"></i></div></th>
      <th rowspan="1"><div class="text-center">Burn Purpose <i class="icon-sort"></i></div></th>
      <th rowspan="1"><div class="text-center">Area <i class="icon-sort"></i></div></th>
      <th rowspan="1"><div class="text-center">Est Start WST <i class="icon-sort"></i></div></th>
    </tr>
  </thead>
  <tbody>
    {% comment %}{% autopaginate qs_burn 25 %} {% endcomment%}
    {% for qs in qs_burn %}
    <tr class="row-vm" data-toggle="myCollapse" data-target="#{{qs.id}}">
      <td></td>
      <td>
        {% if qs.prescription %}
           <a data-toggle="tooltip" title="Click to view prescription" href="{% url 'admin:prescription_prescription_detail' qs.prescription.id %}">{{ qs.prescription.burn_id }}</a>
        {% else %}
            {{ qs.ignition_id }}
        {% endif %}
      </td>
      <td>{{ qs.prescription.name }}</td>
      <td>{{ qs.location }}</td>
      <td>{{ qs.prescription.purposes_list }}</td>
      <td><div class="text-center">{{ qs.planned_area_str }}</div></td>
      <td>
        {% if not qs.active %}
          <div class="text-center">{{ qs.est_start }}</div>
        {% endif %}
      </td>
    </tr>
    {% endfor %}

  </tbody>
</table>

{% endif %}
{% comment %}{% paginate %} {% endcomment %}

{% comment %}
{% if report == "epfp_aircraft" %}
<div>
    <a class="btn btn-small btn-help" style="float: right" href="{% url 'admin:help_aircraft_view' %}?report=epfp_aircraft"><i class="icon-info"></i> Help</a>
    <a class="btn btn-small btn-info" style="float: right" href="{% url 'admin:review_aircraftburn_add' %}?form=add_aircraft_burn"><i class="icon-plus icon-white"></i> Add Aircraft</a>

    <span>Action</span>
    <select id="actions">
    <option value="0" selected="selected">----</option>
    <option value="1">Regional Approval</option>
    <option value="2">State Duty Approval</option>
    <option value="3">State Aviation Approval</option>
    <option value="4">Delete Regional Approval</option>
    <option value="5">Delete State Duty Approval</option>
    <option value="6">Delete State Aviation Approval</option>
    <option value="7">Delete Record</option>
    </select>
    <button id="update-button" class="btn btn-small btn-info" type="button" disabled>Go</button>
</div>

<table id="aircraft-table" class="main-table table table-hover table-compressed">
  <thead>
    <tr>
      <th rowspan="2"><input type="checkbox" name ="check_all" onClick=toggle(this) /></th>
      <th nowrap rowspan="2"><div class="text-center">Burn ID <i class="icon-sort"></i></div></th>
      <th nowrap rowspan="2"><div class="text-center">Burn Name <i class="icon-sort"></i></div></th>
      <th nowrap rowspan="2"><div class="text-center">Area <i class="icon-sort"></i></div></th>
      <th nowrap rowspan="2"><div class="text-center">Start Time <i class="icon-sort"></i></div></th>
      <th nowrap rowspan="2"><div class="text-center">Bombing Duration <i class="icon-sort"></i><br>(hrs)</div></th>
      <th nowrap colspan="3"><div class="text-center">Approval</div></th>
      <th nowrap rowspan="2"><div class="text-center">Min SMC <i class="icon-sort"></i></div></th>
      <th nowrap rowspan="2"><div class="text-center">Max FDI <i class="icon-sort"></i></div></th>
      <th nowrap rowspan="2"><div class="text-center">SDI each <i class="icon-sort"></i><br><DAY</div></th>
      <th nowrap rowspan="2"><div class="text-center">Flight <i class="icon-sort"></i><br>Sequence</div></th>
      <th nowrap rowspan="2"><div class="text-center">Aircraft <i class="icon-sort"></i><br>Rego</div></th>
      <th nowrap rowspan="2"><div class="text-center">Arrival Time <i class="icon-sort"></i><br>Over Burn</div></th>
      <th nowrap rowspan="2"><div class="text-center">Program <i class="icon-sort"></i></div></th>
    </tr>
    <tr>
        <th nowrap> Region <i class="icon-sort"></i></th>
        <th nowrap> State <i class="icon-sort"></i></th>
        <th nowrap> Aviation  <i class="icon-sort"></i></th>
    </tr>


  </thead>
  <tbody>
    {% for qs in qs_aircraft %}
    <tr class="row-vm" data-toggle="myCollapse" data-target="#{{qs.id}}">
      <td><input type="checkbox" name="chkbox" value={{ qs.id  }}  /></td>
      <td><a data-toggle="tooltip" title="Click to view prescription" href="{% url 'admin:prescription_prescription_detail' qs.prescription.id %}">{{ qs.prescription.burn_id }}</a></td>
      <td>{{ qs.prescription.name }}</td>
      <td>{{ qs.area }}</td>
      <td>{{ qs.est_start }}</td>
      <td>{{ qs.bombing_duration }}</td>
      <td>{% if qs.regional_approval %}<div class="text-center" data-toggle="tooltip" title="{{ qs.regional_approval }}"><span style="display:none">2</span><i class="icon-ok text-success"></i></div>{% else %}<span style="display:none">1</span>{% endif %}</td>
      <td>{% if qs.state_duty_approval %}<div class="text-center" data-toggle="tooltip" title="{{ qs.state_duty_approval }}"><span style="display:none">2</span><i class="icon-ok text-success"></i></div>{% else %}<span style="display:none">1</span>{% endif %}</td>
      <td>{% if qs.state_aviation_approval %}<div class="text-center" data-toggle="tooltip" title="{{ qs.state_aviation_approval }}"><span style="display:none">2</span><i class="icon-ok text-success"></i></div>{% else %}<span style="display:none">1</span>{% endif %}</td>
      <td>{{ qs.min_smc }}</td>
      <td>{{ qs.max_fdi }}</td>
      <td>{{ qs.sdi_per_day }}</td>
      <td>{{ qs.flight_seq }}</td>
      <td>{{ qs.aircraft_rego }}</td>
      <td>{{ qs.arrival_time }}</td>
      <td>{{ qs.program }}</td>
      <td><a data-toggle="tooltip" title="Edit" id="edit-aircraftburn" href="{% url 'admin:review_aircraftburn_change' qs.id %}?form=edit_aircraft_burn" class="btn btn-mini alert-error"><i class="icon-edit"></i></a></td>
      <td><a data-toggle="tooltip" title="Delete" id="delete-aircraftburn" href="{% url 'admin:bulk_delete' %}?object_ids={{qs.id}}" class="btn btn-mini alert-error"><i class="icon-trash"></i></a></td>
    </tr>
    {% endfor %}

  </tbody>
</table>
{% endif %}
{% endcomment %}


<div id="dialog-message" title="Region Error" style="display: none;">
  <p>
    <span class="ui-icon ui-icon-circle-check" style="float:left; margin:0 7px 50px 0;"></span>
    You MUST select a Region.

    <div class="results"></div>

    {% comment %}
    {% for qs in qs_burn %}
    <p>{{ qs.fire_idd }} - {{ qs.district  }}</p>
    {% endfor %}
    {% endcomment %}
  </p>
</div>

<script>

$(function(){
     $("[data-toggle=myCollapse]").click(function( ev ) {
       ev.preventDefault();
       var target;
       if (this.hasAttribute('data-target')) {
         target = $(this.getAttribute('data-target'));
       } else {
         target = $(this.getAttribute('href'));
       };
       target.toggleClass("in");
     });

     $("#planned-table td a").on('click', function (e) { e.stopPropagation(); });
     $("#planned-table td input").on('click', function (e) { e.stopPropagation(); });

     $("#fireload-table td a").on('click', function (e) { e.stopPropagation(); });
     $("#fireload-table td input").on('click', function (e) { e.stopPropagation(); });

     $("#summary-table td a").on('click', function (e) { e.stopPropagation(); });
     $("#summary-table td input").on('click', function (e) { e.stopPropagation(); });

     $("#aircraft-table td a").on('click', function (e) { e.stopPropagation(); });
     $("#aircraft-table td input").on('click', function (e) { e.stopPropagation(); });

     $(".main-table").tablesorter({
        headers: {0: {sorter: false}}
     });

    $("#burns-table tr:contains('Total')").css("font-weight","bold");

    $("#id_date").datepicker({ dateFormat: "yy-mm-dd" }).val();

    $("#id_csv").click(function () {
      var report_date = $("#id_date").val();
      var urlStr = '?date=' + report_date + '&Export_CSV=export_csv';
      $("#id_href").attr("href", urlStr);
    });

    {% comment "The tab itself is already a hyperlink" %}
    $("#report-tabs").click(function() {
        var date = $("#id_date").val();
        //console.log("date " + date);
        //console.log("url " + "{% url 'admin:daily_burn_program' %}");
        $.ajax({
            type:"POST",
            url:"{% url 'admin:daily_burn_program' %}",
            data: {
                "tab_date": date,
                "region": $("#id_region").val(),
                "fire_type": $("#id_fire_type").val(),
                "csrfmiddlewaretoken": "{{ csrf_token }}",
            },
        });
    });
    {% endcomment %}

    pdf_url = function(form_name) {
        // created to allow region to be passed to admin.py
        var region = $("#id_region").val();
        //console.log("REGION " + region);
        if (region) {
            location.href = "{% url 'admin:create_dailyburns_pdf' %}?date={{date}}&template=" + form_name + "&region=" + region; //$("#id_region").val();
        } else {
            location.href = "{% url 'admin:create_dailyburns_pdf' %}?date={{date}}&template=" + form_name; //$("#id_region").val();
            //dialog_msg();
        }
    };

});

dialog_msg = function() {
    $( "#dialog-message" ).dialog({
    modal: true,
    buttons: {
        Ok: function() {
        $( this ).dialog( "close" );
        }
    }
    });
};

multiple_regions_msg = function(items) {

    //$('.results').html('Hello World!');
    $('.results').html(items.join(", "));

    $( "#dialog-message" ).dialog({
    modal: true,
    buttons: {
        Ok: function() {
            $( this ).dialog( "close" );
            return true;
        },
        Cancel: function() {
            $( this ).dialog( "close" );
            return false;
        }

    }
    });
};




function toggle(source) {
    checkboxes = document.getElementsByName('chkbox');
    for(var i=0, n=checkboxes.length;i<n;i++) {
        checkboxes[i].checked = source.checked;
        //console.log('Checked ' + source.checked);
        //console.log('Checked ' + i);
    }
};

function remove_rows() {
    $("#table tr:has(td > input[type=checkbox]:checked)").remove();
};

function growl(response) {
    $.growl(response.message, {
        type: response.type,
        delay: 10000,
        allow_dismiss: true,
        animate: {
            enter: 'animated bounceIn',
            exit: 'animated bounceOut'
        },
        offset: {
            x: 100,
            y: 20
        }
    });
};


$("#actions").click(function () {
    if ($("#actions").val() == 0) {
        $('#update-button').prop("disabled", true);
        console.log('True  ' + $("#actions").val() )
    } else {
        $('#update-button').prop("disabled", false);
        console.log('False ' + $("#actions").val() )
    }
});

function unique_districts(id_list) {

districts = [];
{% if report == "epfp_planned" %}
    {% for qs in qs_burn %}
    if (id_list.indexOf({{qs.id}}) > -1) {
        if (districts.indexOf('{{qs.district}}') < 0) {
            districts.push('{{qs.district}}');
        }
    }
    {% endfor %}
    console.log('Planned ***************  ' + districts);
{% endif %}

{% if report == "epfp_fireload" %}
    {% for qs in qs_fireload %}
    if (id_list.indexOf({{qs.id}}) > -1) {
        if (districts.indexOf('{{qs.district}}') < 0) {
            districts.push('{{qs.district}}');
        }
    }
    {% endfor %}
    console.log('FireLoad ***************  ' + districts);
{% endif %}

return districts;
};

function _is_unique(items) {
    unique = items.length > 1 ? true : false;
    return unique
};

function is_unique() {
    checkboxes = document.getElementsByName('chkbox');
    checked_list = []
    districts = []
    for(var i=0, n=checkboxes.length;i<n;i++) {
        if (checkboxes[i].checked) {
            checked_list.push(parseInt(checkboxes[i].value))
        }
    }

    district_list = unique_districts(checked_list);
    if (district_list.length > 1) {
        return multiple_regions_msg(district_list);
    }

    return false;
};

$('#update-button').click(function(){
    checkboxes = document.getElementsByName('chkbox');
    checked_list = []
    districts = []
    for(var i=0, n=checkboxes.length;i<n;i++) {
        if (checkboxes[i].checked) {
            checked_list.push(parseInt(checkboxes[i].value))
        }
    }

    var action = $("#actions :selected").text();
    console.log("Actions " + $("#actions").val());

    if (action == "Update Daily Burn Links"){
        growl({"message": "Updating Daily Burn Links ...", "type": "info"});
    }

    if (action == "Delete Record"){
        //console.log("Delete Selected ************ " + checked_list.toString());
        window.location.href = "{% url 'admin:bulk_delete' %}" + '?object_ids=' + checked_list.toString()

    } else if (action.indexOf('District') > -1){
        window.location.href = "{% url 'admin:district_action_view' %}" + '?object_ids=' + checked_list.toString() + '&date={{date}}' + '&action=' + action + '&report={{report}}';

    } else if (action.indexOf('Region') > -1){
        window.location.href = "{% url 'admin:region_action_view' %}" + '?object_ids=' + checked_list.toString() + '&date={{date}}' + '&action=' + action + '&report={{report}}';


    } else {
        $.ajax({
            type: 'POST',
            url: "{% url 'admin:action_view' %}",
            data: {
                "action": action, //$("#actions :selected").text(),
                "data": checked_list.toString(),
                "date": "{{date}}",
                "report": "{{report}}",
                "csrfmiddlewaretoken": "{{ csrf_token }}",
            },
            success: function(response){
                var response = JSON.parse(response);
                //window.location.href = response.redirect; // to redirect
                //location.reload();
                $(".main-table").load(window.location + " .main-table");
                growl(response);

            }
        })
    }

});

$('[data-toggle="tooltip"]').tooltip();

$('#id_approval_status').prop("multiple", "multiple");
$('#_id_approval_status').multiselect();

$('#id_approval_status').multiselect({
    includeSelectAllOption: true,
});
//$("#id_approval_status").multiselect('selectAll', false);
//$("#id_approval_status").multiselect('refresh');

</script>
{% endblock %}
