{% extends "admin/change_list.html" %}
{% load i18n staticfiles admin_list %}

{% block breadcrumbs %}
<ul class="breadcrumb">
  <li><a href="{% url 'admin:index' %}">{% trans 'Regional Overview' %}</a> <span class="divider">/</span></li>
  <li><a href="{% url 'admin:prescription_prescription_detail' current.id %}">{{ current.burn_id }}</a> <span class="divider">/</span></li>
  <li><a href="{% url 'admin:prescription_prescription_day_summary' current.id %}">Part B</a> <span class="divider">/</span></li>
  <li>Section B1 &#x2010; Operational Overview</li>
</ul>
{% endblock %}

{% block object-tools %}{% endblock %}

{% block content_title %}
<h1>Operational Overview</h1>
<p>The Operations Overview screen allows the Prescribing Officer to provide strategic direction on how the burn should be implemented.
This direction is complemented by the detailed tactical information provided in the Edging Plan and Lighting Sequence sections.</p>
{% endblock %}
