{% extends "admin/change_form.html" %}
{% load i18n staticfiles admin_list %}

{% block breadcrumbs %}
<ul class="breadcrumb">
  <li><a href="{% url 'admin:index' %}">{% trans 'Regional Overview' %}</a> <span class="divider">/</span></li>
  <li><a href="{% url 'admin:prescription_prescription_detail' current.id %}">{{ current.burn_id }}</a> <span class="divider">/</span></li>
  <li><a href="{% url 'admin:prescription_prescription_day_summary' current.id %}">Part B</a> <span class="divider">/</span></li>
  <li><a href="{% url 'admin:risk_contingency_changelist' current.id %}">Section B6 &#x2010; Contingency Plan</a> <span class="divider">/</span></li>
  <li>Add contingency plan</li>
</ul>
{% endblock %}

{% block content_title %}
{% load risk_tags %}
{% show_treatments "Contingency Plan" %}
<h1>Add contingency plan</h1>
{% endblock %}
