{% extends "admin/change_list.html" %}
{% load i18n staticfiles admin_list pbs_list %}

{% block breadcrumbs %}
<ul class="breadcrumb">
  <li><a href="{% url 'admin:index' %}">{% trans 'Regional Overview' %}</a> <span class="divider">/</span></li>
  <li><a href="{% url 'admin:prescription_prescription_detail' current.id %}">{{ current.burn_id }}</a> <span class="divider">/</span></li>
  <li><a href="{% url 'admin:prescription_prescription_day_summary' current.id %}">Part B</a> <span class="divider">/</span></li>
  <li>Section B6 &#x2010; Contingency Plan</li>
</ul>
{% endblock %}

{% block extrahead %}
{{ block.super }}
{% ifusergroup 'ePFP Application Administrator' %}
<script>
$(document).ready(function() {
    $("a.adminonly").removeClass("hide");
});
</script>
{% endifusergroup %}
{% endblock %}

{% block object-tools %}
  {% if has_add_permission %}
  <div class="object-tools pull-right">
    {% block object-tools-items %}
    <a class="btn btn-small btn-info{% if hide_adminonly %} {{ hide_adminonly }}{% endif %}" href="{% if current %}{% url 'admin:risk_contingency_add' current.id %}{% endif %}{% if is_popup %}?_popup=1{% endif %}">
      <i class="icon-plus icon-white"></i>
      {% blocktrans with cl.opts.verbose_name as name %}Create {{ name }}{% endblocktrans %}
    </a>
    {% endblock %}
  </div>
  {% endif %}
{% endblock %}


{% block content_title %}
{% load risk_tags %}
{% show_treatments "Contingency Plan" %}
<h1>Contingency Plan</h1>
{% endblock %}

