{% extends "admin/change_form.html" %}
{% load i18n admin_urls %}

{% if not is_popup %}
{% block breadcrumbs %}
<ul class="breadcrumb">
  <li><a href="{% url 'admin:index' %}">{% trans 'Regional Overview' %}</a> <span class="divider">/</span></li>
  <li><a href="{% url 'admin:site_admin' %}">{% trans 'Manage Users' %}</a> <span class="divider">/</span></li>
  <li><a href="{% url 'admin:auth_group_changelist' %}">Groups</a> <span class="divider">/</span></li>
  <li>Group</li>
</ul>
{% endblock %}
{% endif %}
