{% extends "admin/change_list.html" %}
{% load i18n staticfiles admin_list pbs_list %}

{% block breadcrumbs %}
<ul class="breadcrumb">
  <li><a href="{% url 'admin:index' %}">{% trans 'Regional Overview' %}</a> <span class="divider">/</span></li>
  <li><a href="{% url 'admin:prescription_prescription_detail' current.id %}">{{ current.burn_id }}</a> <span class="divider">/</span></li>
  <li><a href="{% url 'admin:risk_register_changelist' current.id %}?section=final">Treatments & final risk assessment</a> <span class="divider">/</span></li>
  <li>Treatments</li>
</ul>
{% endblock %}


