{% extends "admin/base_modal.html" %}
{% load i18n %}

{% block modal_id %}id_submit_for_epfp_approval{% endblock %}

{% block modal_header_text %}{{ submit_for_epfp_approval_title }}{% endblock %}

{% block modal_body %}
    {% if current.approval_status == current.APPROVAL_DRAFT %}

    <p>Are you sure you wish to submit this for approval?</p>
    <form action="{% url "admin:prescription_prescription_approve" current.id %}" method="post">{% csrf_token %}
    <input type="submit" id="id_submit_for_epfp_approval_form_submit" value="{% trans 'Submit' %}" class="hide btn btn-primary" name="_save"/>
    <input type="submit" value="{% trans 'Go back' %}" class="hide btn" name="_cancel"/>
    </form>

    {% elif current.approval_status ==  current.APPROVAL_SUBMITTED %}
    <p>Are you sure you wish to submit this for approval as the role required? Please read the following carefully and ensure that all information is correct before approval.</p>
    <blockquote>The overall level of risk for this ePFP is {{ current.maximum_risk_html }}. The required
    approver role for this level of risk is {{ current.maximum_risk_role }}.</blockquote>
    {% if current.carried_over %}
        <blockquote>I am satisfied that the content of this re-scheduled ePFP has been
        reviewed and is accurate and current.</blockquote>
    {% endif %}
    <blockquote>
    I confirm that the persons who have prepared this plan and
    have provided the above endorsements are competent and authorised to
    do so and I confirm that the plan has been prepared in accordance with
    the DPaW procedure for planning prescribed fire plans.</blockquote>
    <form id="id_submit_for_epfp_approval_form" action="{% url "admin:prescription_prescription_approve" current.id %}" method="post">{% csrf_token %}
        <div>
            <label for="id_valid_to">Valid to ({{ current.planned_season_object.start }} - {{ current.planned_season_object.end }}):</label> {{ submit_for_epfp_approval_form.form.valid_to }}
            {% if submit_for_epfp_approval_form.form.valid_to.errors %}
                {% for error in submit_for_epfp_approval_form.form.valid_to.errors %}
                <p class="errornote alert alert-block alert-error fade in"><i class='icon-warning-sign'></i> {{ error }}</p>
                {% endfor %}
            {% endif %}

            {{ submit_for_epfp_approval_form.form.initial_valid_to }}
            {{ submit_for_epfp_approval_form.form.prescription }}
        </div>
        <input type="submit" id="id_submit_for_epfp_approval_form_submit" value="{% trans 'Approve' %}" class="btn btn-primary hide" name="_save" />
        <input type="submit" id="id_submit_for_epfp_approval_form_cancel" value="{% trans 'Reviewed and not approved' %}" class="btn btn-danger hide" name="_cancel"/>
    </form>
    {% elif current.approval_status ==  current.APPROVAL_APPROVED %}
    <p>Are you sure to wish to extend the approval of this ePFP for two weeks from {{ current.current_approval.valid_to }} to {{ current.current_approval.next_valid_to }}?</p>
    <h5>Approval History</h5>
    {% if current.carried_over %}
        <blockquote>I am satisfied that the content of this re-scheduled ePFP has been
        reviewed and is accurate and current.</blockquote>
    {% endif %}
    <blockquote>
    I confirm that the persons who have prepared this plan and
    have provided the above endorsements are competent and authorised to
    do so and I confirm that the plan has been prepared in accordance with
    the DPaW procedure for planning prescribed fire plans.</blockquote>
    <form id="id_submit_for_epfp_approval_form" action="{% url "admin:prescription_prescription_approve" current.id %}" method="post">{% csrf_token %}
    <input type="submit" id="id_submit_for_epfp_approval_form_submit" value="{% trans 'Extend Approval' %}" class="btn btn-primary hide" name="_save"/>
    <input id="id_cancel_button" type="submit" value="{% trans 'Cancel' %}" class="btn btn-danger hide" name="_cancel"/>
    </form>
    {% endif %}

{% endblock %}

{% block modal_btn_close_label %}
  {% if current.approval_status == current.APPROVAL_DRAFT %}
    {% trans 'Go back' %}
  {% elif current.approval_status == current.APPROVAL_APPROVED %}
    {% trans 'Cancel' %}
  {% endif %}
{% endblock %}

{% block modal_btn_primary_label %}
  {% if current.approval_status == current.APPROVAL_DRAFT %}
    {% trans 'Submit' %}
  {% elif current.is_approved and not current.is_closed %}
    {% trans 'Extend Approval' %}
  {% else %}
    {% trans 'Approve' %}
  {% endif %}
{% endblock %}

{% block modal_btn_close %}
  {% if current.approval_status == current.APPROVAL_SUBMITTED %}
    <button class="btn btn-danger" onclick="return document.getElementById('id_submit_for_epfp_approval_form_cancel').click();">{% trans 'Reviewed and not approved' %}</button>
  {% else %}
    {{ block.super }}
  {% endif %}
{% endblock %}

{% block modal_btn_primary_onclick %}return document.getElementById('id_submit_for_epfp_approval_form_submit').click();{% endblock %}
