{% extends "admin/change_list.html" %}
{% load i18n staticfiles admin_list %}

{% block extrahead %}
  {{ block.super }}
  <style>
    .column-criteria_display {
      width: 30%;
    }
  </style>
{% endblock %}

{% block breadcrumbs %}
<ul class="breadcrumb">
  <li><a href="{% url 'admin:index' %}">{% trans 'Regional Overview' %}</a> <span class="divider">/</span></li>
  <li><a href="{% url 'admin:prescription_prescription_detail' current.id %}">{{ current.burn_id }}</a> <span class="divider">/</span></li>
  <li><a href="{% url 'admin:prescription_prescription_summary' current.id %}">Part A</a> <span class="divider">/</span></li>
  <li>Section A4 &#x2010; Burn Priority Justification</li>
</ul>
{% endblock %}

{% block content_title %}
<h1>Burn Priority Justification</h1>
{% endblock %}

{% block object-tools-items %}
{% endblock %}

{% block extra-forms %}

{{ priority_form.non_field_errors }}
<table class="table table-bordered table-striped">
  <tbody>
    <tr>
      <th>Overall priority</th>
      <td>{% if current.is_draft or perms.prescription.can_admin %}{{ priority_form.priority }}{% else %}{{ current.priority }}{% endif  %}
        {% if priority_form.priority.errors %}
          {{ priority_form.priority.errors }}
        {% endif %}
      </td>
    </tr>
    <tr>
      <th>Overall rationale</th>
      <td>{% if current.is_draft or perms.prescription.can_admin %}{{ priority_form.rationale }}{% else %}{{ current.rationale }}{% endif %}
        {% if priority_form.rationale.errors %}
          {{ priority_form.rationale.errors }}
        {% endif %}
      </td>
    </tr>
  </tbody>
</table>

{% endblock %}
