{% extends "admin/change_list.html" %}
{% load i18n staticfiles admin_list %}

{% block extrahead %}
{{ block.super }}
  <script src="{% static 'pbs/js/auto-resize-text-input.js' %}"></script>
  <script>
    $(function() {
      $('table#result_list').on("keyup", "input[id$=name]", function() {
          $(this).keyup(resizeInput).each(resizeInput);
      });
      $('table#result_list').on("keyup", "input[id$=organisation]", function() {
          $(this).keyup(resizeInput).each(resizeInput);
      });
    });
  {% if current.is_draft or perms.prescription.can_admin %}
  (function($) {
    $(function() {
      $("#result_list tbody tr").tabularFormset({
        prefix: "{{ cl.formset.prefix }}",
        adminStaticPrefix: '{% static "admin/" %}',
        addText: '<i class="icon-plus"></i> Add another critical stakeholder'
      });
    });
  })(django.jQuery);
  {% endif %}
  </script>
{% endblock %}

{% block object-tools %}{% endblock %}

{% block breadcrumbs %}
<ul class="breadcrumb">
  <li><a href="{% url 'admin:index' %}">{% trans 'Regional Overview' %}</a> <span class="divider">/</span></li>
  <li><a href="{% url 'admin:prescription_prescription_detail' current.id %}">{{ current.burn_id }}</a> <span class="divider">/</span></li>
  <li><a href="{% url 'admin:prescription_prescription_summary' current.id %}">Part A</a> <span class="divider">/</span></li>
  <li>Section A2 &#x2010; Critical Stakeholders</li>
</ul>
{% endblock %}

{% block pretitle %}
<ul class="nav nav-tabs">
    <li><a href="{% url 'admin:risk_context_changelist' current.id %}"><i class="icon-legal"></i> Risk management context statement</a></li>
    <li class="active"><a href="{% url 'admin:stakeholder_criticalstakeholder_changelist' current.id %}"><i class="icon-user"></i> Critical stakeholders</a></li>
    <li><a href="{% url 'admin:risk_action_changelist' current.id %}"><i class="icon-legal"></i> Actions</a></li>
    <li><a href="{% url 'admin:risk_register_changelist' current.id %}"><i class="icon-warning-sign"></i> Risk Register</a></li>
</ul>
{% endblock %}

{% block content_title %}
<h1>Critical Stakeholders</h1>
{% endblock %}
