{% extends "admin/base_site.html" %}
{% load i18n staticfiles admin_list %}
{% load prescription_tags %}
{% load pagination_tags %}


{% block extrahead %}
{{ block.super }}
<style>
.filter-pad {
  margin-top: 5px;
  margin-bottom: -17px !important;
  margin-left: 10px;
}
.adjust-legend{
  margin-bottom:-40px;
}

.ui-datepicker {
    width: 216px;
    height: auto;
    margin: 5px auto 0;
    font: 9pt Arial, sans-serif;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, .5);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, .5);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, .5);
    background-color: #FFF;
}

.myCollapse {
      display: none;
}
.myCollapse.in {
      display: table-row;
}
</style>
{% endblock %}

{% block content %}
<div class="row">
  <div class="span12 filter-top-pad">
      <p>Click on each row to view a summary for each burn, and to mark each as reviewed.</p>
  </div>
</div>

<ul id="report-tabs" class="nav nav-tabs">
        <li class="filter-pad">
            <form class="form-inline">
                <label for="id_date" class="control-label">Date</label>
                <input type="text" id="id_date" value="{{date}}" name="date"/>

                <label for="id_region" class="control-label">Region</label>
                {{ form.region }}

                {% comment %}
                <label for="id_district" class="control-label">District</label>
                {{ form.district }}
                {% endcomment %}
                <button type="submit" class="btn btn-primary">Update</button>
                {% if report == "epfp_planned_burn" %}
                    <input class="hidden" name="report" value="epfp_planned_burn">
                {% endif %}
            </form>
        </li>
</ul>

{% comment %}
{% endcomment %}
<ul id="report-tabs" class="nav nav-tabs">
    <li id="planned-tab"  "{% if report == "epfp_planned_burns" %} class="active"{% endif %}>
        <a href="{% url 'admin:epfp_planned_burn' %}?report=epfp_planned_burns">
            <i class="icon-tag"></i>
            Planned
        </a>
    </li>
    <li id="ongoing-tab" {% if report == "epfp_ongoing_burns" %} class="active"{% endif %}>
        <a href="{% url 'admin:epfp_ongoing_burn' %}?report=epfp_ongoing_burns">
            <i class="icon-plus"></i>
            Ongoing
        </a>
    </li>
    <li id="summary-tab"  "{% if report == "epfp_summary_burns" %} class="active"{% endif %}>
        <a href="{% url 'admin:epfp_planned_burn' %}?report=epfp_summary_burns">
            <i class="icon-fire"></i>
            Summary
        </a>
    </li>
</ul>
{% comment %}
{% endcomment %}

{% if report == "summary" or report == "epfp_planned_burns" %}
<table id="sorted-table" class="table table-striped table-hover table-compressed">
  <thead>
    <tr>
      <th rowspan="2">Burn ID</th>
      <th rowspan="2">Name</th>
      <th rowspan="2"><div class="text-center">Location</div></th>
      <th rowspan="2"><div class="text-center">Burn Purpose</div></th>
      <th rowspan="2"><div class="text-center">Area</div></th>
      <th rowspan="2"><div class="text-center">Est Start WST</div></th>
      <th rowspan="2"><div class="text-center">Contingency Plan</div></th>
      <th rowspan="2"><div class="text-center">Monitoring Plan</div></th>
      <th colspan="2"><div class="text-center">Invite to Assist</div></th>
      <th rowspan="2"><div class="text-center">Special Conditions</div></th>
    </tr>
    <tr>
      <th> LGA </th>
      <th> DFES </th>
    </tr>
  </thead>
  <tbody>
    {% autopaginate queryset 25 %}
    {% for qs in queryset %}
    <tr class="row-vm" data-toggle="myCollapse" data-target="#{{qs.id}}">
      <td><a href="{% url 'admin:prescription_prescription_detail' qs.prescription.id %}">{{ qs.prescription.burn_id }}</a></td>
      <td>{{ qs.prescription.name }}</td>
      <td>{{ qs.prescription.location }}</td>
      <td>
        {% for purpose in qs.prescription.purposes_list %}
            {{ purpose }}
            <br>
        {% endfor %}
       </td>
      <td>{{ qs.area }}</td>
      <td>{{ qs.est_start }}</td>
      <td>{% if qs.has_contigency %}<div class="text-center"><i class="icon-ok text-success"></i></div>{% endif %}</td>
      <td>{% if qs.has_monitoring %}<div class="text-center"><i class="icon-ok text-success"></i></div>{% endif %}</td>
      <td>{% if qs.contains_lga %}<div class="text-center"><i class="icon-ok text-success"></i></div>{% endif %}</td>
      <td>{% if qs.contains_dfes %}<div class="text-center"><i class="icon-ok text-success"></i></div>{% endif %}</td>
      <td>{{ qs.conditions }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endif %}
{% paginate %}

{% if report == "epfp_ongoing_burns" %}
  <p>Ongoing TAB</p>
{% endif %}

<script>
$(function(){
     $("[data-toggle=myCollapse]").click(function( ev ) {
       ev.preventDefault();
       var target;
       if (this.hasAttribute('data-target')) {
     target = $(this.getAttribute('data-target'));
       } else {
     target = $(this.getAttribute('href'));
       };
       target.toggleClass("in");
     });

     $("#sorted-table td a").on('click', function (e) { e.stopPropagation(); })

    $("#sorted-table").tablesorter();
    $("#burns-table tr:contains('Total')").css("font-weight","bold");

    $("#id_fromDate").datepicker({ dateFormat: "dd-mm-yy" }).val();
    $("#id_toDate").datepicker({ dateFormat: "dd-mm-yy" }).val();

    $("#id_toDate").change(function () {
      var fromDate = $("#id_fromDate").datepicker({ dateFormat: "dd-mm-yy" }).val();
      var toDate = $("#id_toDate").datepicker({ dateFormat: "dd-mm-yy" }).val();
      if ( ($.datepicker.parseDate('dd-mm-yy', fromDate)) >  $.datepicker.parseDate('dd-mm-yy', toDate))  {
        alert("'From Date' cannot be after 'To Date' ");
      }
    });

    $("#id_fromDate").change(function () {
      var fromDate = $("#id_fromDate").datepicker({ dateFormat: "dd-mm-yy" }).val();
      var toDate = $("#id_toDate").datepicker({ dateFormat: "dd-mm-yy" }).val();
      if ( ($.datepicker.parseDate('dd-mm-yy', fromDate)) >  $.datepicker.parseDate('dd-mm-yy', toDate))  {
        alert("'From Date' cannot be after 'To Date' ");
      }
    });

    $("#id_csv").click(function () {
      var fromDate = $("#id_fromDate").val();
      var toDate = $("#id_toDate").val();
      var urlStr = '?fromDate=' + fromDate + '&toDate=' + toDate + '&Export_CSV=export_csv'
      $("#id_href").attr("href", urlStr);
    });
});
</script>
{% endblock %}
