<!doctype html>
<html>
  <head>
    <title>Dummy</title>
    <script type="text/javascript">
      var a = 3;
    </script>
   <script type="text/javascript" data-compress="false">
      var a = 5;
    </script>
    <style>
      hr {color:sienna;}
      p {margin-left:20px;}
      body {background-image:url("images/back40.gif");}
    </style>
    <style data-compress="false">
      body {background-image:url("images/back50.gif");}
    </style>
    <style>
      body {background-image:url("images/back60.gif");}
    </style>
  </head>
  <body>
    <h1>Hello World!</h1>
    <script type="text/javascript">
      var a = 4;
    </script>
  </body>
</html>
