{% extends "admin/change_list.html" %}
{% load i18n staticfiles admin_list %}

{% block breadcrumbs %}
<ul class="breadcrumb">
  <li><a href="{% url 'admin:index' %}">{% trans 'Regional Overview' %}</a> <span class="divider">/</span></li>
  <li><a href="{% url 'admin:prescription_prescription_detail' current.id %}">{{ current.burn_id }}</a> <span class="divider">/</span></li>
  <li><a href="{% url 'admin:prescription_prescription_day_summary' current.id %}">Part B</a> <span class="divider">/</span></li>
  <li>Section B5 &#x2010; Lighting sequence</li>
</ul>
{% endblock %}

{% block content_title %}
{% load risk_tags %}
{% show_treatments "Lighting Sequence" %}
<h1>Lighting Sequence</h1>
{% endblock %}
