{% extends "admin/change_list.html" %}
{% load i18n staticfiles admin_list %}

{% block extrahead %}
{{ block.super }}
  <script src="{% static 'pbs/js/auto-resize-text-input.js' %}"></script>
  <script>
  $(function() {
    $('table#result_list').on("keyup", "input[id$=phone]", function() {
        $(this).keyup(resizeInput).each(resizeInput);
    });
    $('input[id$=phone]').keyup();
  });

  (function($) {
    $(function() {
      $("#result_list tbody tr").tabularFormset({
        prefix: "{{ cl.formset.prefix }}",
        adminStaticPrefix: '{% static "admin/" %}',
        addText: '<i class="icon-plus"></i> Add another notification'
      });
    });
  })(django.jQuery);
  </script>
{% endblock %}

{% block object-tools-items %}
<a value="Section D1 &#x2010; Notifications" class="btn-small btn" href="{{ download_pdf }}?template=sectiond1"><i class="icon-print"></i> Download</a>
{% endblock %}

{% block breadcrumbs %}
<ul class="breadcrumb">
  <li><a href="{% url 'admin:index' %}">{% trans 'Regional Overview' %}</a> <span class="divider">/</span></li>
  <li><a href="{% url 'admin:prescription_prescription_detail' current.id %}">{{ current.burn_id }}</a> <span class="divider">/</span></li>
  <li>Section D1 &#x2010; Notifications</li>
</ul>
{% endblock %}

{% block content_title %}
<h1>Notifications</h1>

<script>
  $(document).ready(function () {
    $('input.vDateField').addClass('input-medium');
  });
</script>
{% endblock %}
