{% extends "admin/change_form.html" %}
{% load i18n %}

{% block breadcrumbs %}
<ul class="breadcrumb">
  <li><a href="{% url 'admin:index' %}">{% trans 'Regional Overview' %}</a> <span class="divider">/</span></li>
  <li><a href="{% url 'admin:prescription_prescription_detail' current.id %}">{{ current.burn_id }}</a> <span class="divider">/</span></li>
  <li><a href="{% url 'admin:prescription_prescription_day_summary' current.id %}">Part B</a> <span class="divider">/</span></li>
  <li><a href="{% url 'admin:implementation_burningprescription_changelist' current.id %}">Section B5 &#x2010; Burning prescription</a> <span class="divider">/</span></li>
  <li>Add burning prescription</li>
</ul>
{% endblock %}
