{% extends "admin/change_list.html" %}
{% load i18n staticfiles admin_list pbs_tags %}

{% block extrahead %}
{{ block.super }}
  <style>
    .column-risk {
      width: 20%;
    }
  </style>
{% endblock %}

{% block breadcrumbs %}
<ul class="breadcrumb">
  <li><a href="{% url 'admin:index' %}">{% trans 'Regional Overview' %}</a> <span class="divider">/</span></li>
  <li><a href="{% url 'admin:prescription_prescription_detail' current.id %}">{{ current.burn_id }}</a> <span class="divider">/</span></li>
  <li><a href="{% url 'admin:prescription_prescription_summary' current.id %}">Part A</a> <span class="divider">/</span></li>
  <li>Section A2 &#x2010; Risk Management Context Statement</li>
</ul>
{% endblock %}

{% block pretitle %}
<ul class="nav nav-tabs">
    <li class="active"><a href="{% url 'admin:risk_context_changelist' current.id %}"><i class="icon-legal"></i> Risk management context statement</a></li>
    <li><a href="{% url 'admin:stakeholder_criticalstakeholder_changelist' current.id %}"><i class="icon-user"></i> Critical stakeholders</a></li>
    <li><a href="{% url 'admin:risk_action_changelist' current.id %}"><i class="icon-legal"></i> Actions</a></li>
    <li><a href="{% url 'admin:risk_register_changelist' current.id %}"><i class="icon-warning-sign"></i> Risk Register</a></li>
</ul>
{% endblock %}

{% block content_title %}
<h1>Description of this burn</h1>
<p>{{ current.description }}</p>

<h1>Burn purposes</h1>
{% if current.purposes.all %}
<ul>
    {% for purpose in current.purposes.all %}
    <li>{{ purpose }}</li>
    {% endfor %}
</ul>
{% else %}
No purposes defined.
{% endif %}

{% load objective_tags %}
{% show_regional_objectives %}

{% filter_by_tag_name current.document_set "Context Map" as document_set %}

<h1>Relevant actions</h1>
{% if relevant_actions %}
{% include "admin/risk/context/includes/relevant_actions.html" %}
{% else %}
There are no relevant actions for this context statement.
{% endif %}

<h1>Risk Management Context Statement</h1>
<p>This burn plan is consistent with <a class="btn btn-small btn-info" href="https://fmsb.dpaw.wa.gov.au/doctrine/policies" target="_blank"><b>Policy Statement No. 88</b></a></p>
<p>Consider political, economic, social, technical, legal, environmental and other contextual factors including seasonal variations when creating this statement.</p>
{% if not current.can_corporate_approve and not current.is_draft %}
<div class="alert clearfix"><strong>Warning!</strong> In order to edit this section, you need to complete all information.</div>
{% endif %}
{% endblock %}

{% block object-tools %}{% endblock %}

{% block content %}
{{ block.super }}
<h1>Context Maps</h1>
{% if current.endorsement_status == current.ENDORSEMENT_DRAFT %}
<a href="{{ upload_document }}?tag={{ "Context Map"|tag_id }}&next={{ request.get_full_path }}" class="pull-right btn btn-info btn-small"><b><i class="icon-plus"></i> Upload Context Map</b></a>
{% endif %}
{% filter_by_tag_name current.document_set "Context Map" as document_set %}
{% include "admin/document_list.html" with document_type="Context Maps" %}

<h1>Critical stakeholders</h1>
{% include "admin/risk/context/includes/stakeholders.html" with stakeholder_set=current.criticalstakeholder_set.all %}
{% endblock %}
