{% extends "swingers/core.html" %}

{% block layout %}
{% if request.user.is_authenticated %}
<script>
    window.parent.postMessage("isauthenticated", "*");
</script>
{% else %}
<a id="browserid" class="persona-button" href="#"><span>Sign in with your email</span></a>
<form class="hide" method="POST" action="{% url 'browserid_verify' %}">
    {% csrf_token %}
    <input name="next" value="{% url 'login_persona' %}">
    {{ browserid_form.as_p }}
</form>
{% endif %}
{% endblock %}
{% block extra_js %}
    <script async src="https://login.persona.org/include.js" type="text/javascript"></script>
    <script>
        $(window).load(function() {
            $('#browserid').bind('click', function(e) {
                e.preventDefault();
                navigator.id.get(function(assertion) {
                    if (assertion) {
                        var $e = $('#id_assertion');
                        $e.val(assertion.toString());
                        $e.parent().submit();
                    }
                });
            });
        });
    </script>
{% endblock %}

