{% extends "admin/base_site.html" %}
{% load i18n staticfiles admin_list %}
{% load i18n admin_urls %}

{% block extrahead %}
{{ block.super }}
<script type="text/javascript">
    $( document ).ready(function() {
        $('#id_valid_to').datepicker({dateFormat:'yy-mm-dd', changeMonth: true, changeYear: true})
    });
</script>
{% endblock %}

{% block breadcrumbs %}
<ul class="breadcrumb">
  <li><a href="{% url 'admin:index' %}">{% trans 'Regional Overview' %}</a> <span class="divider">/</span></li>
  <li><a href="{% url 'admin:prescription_prescription_detail' current.id %}">{{ current.burn_id }}</a> <span class="divider">/</span></li>
  <li>{{ title }}</li>
</ul>
{% endblock %}

{% block content %}

{% if current.approval_status == current.APPROVAL_DRAFT %}
<p>Are you sure you wish to submit this for approval?</p>
<form action="" method="post">{% csrf_token %}
<div class="form-actions">
  <input type="submit" value="{% trans 'Submit' %}" class="btn btn-primary" name="_save"/>
  <input type="submit" value="{% trans 'Go back' %}" class="btn" name="_cancel"/>
</div>
</form>
{% elif current.approval_status ==  current.APPROVAL_SUBMITTED %}
<p>Are you sure you wish to submit this for approval as the role required? Please read the following carefully and ensure that all information is correct before approval.</p>
<blockquote>The overall level of risk for this ePFP is {{ current.maximum_risk_html }}. The required
approver role for this level of risk is {{ current.maximum_risk_role }}.</blockquote>
{% if current.carried_over %}
    <blockquote>I am satisfied that the content of this re-scheduled ePFP has been
    reviewed and is accurate and current.</blockquote>
{% endif %}
<blockquote>
I confirm that the persons who have prepared this plan and
have provided the above endorsements are competent and authorised to
do so and I confirm that the plan has been prepared in accordance with
the DPaW procedure for planning prescribed fire plans.</blockquote>
<form action="" method="post">{% csrf_token %}
    <div>
        <label for="id_valid_to">Valid to ({{ current.planned_season_object.start }} - {{ current.planned_season_object.end }}):</label> {{ form.form.valid_to }}
        {% if form.form.valid_to.errors %}
            {% for error in form.form.valid_to.errors %}
            <p class="errornote alert alert-block alert-error fade in"><i class='icon-warning-sign'></i> {{ error }}</p>
            {% endfor %}
        {% endif %}

        {{ form.form.initial_valid_to }}
        {{ form.form.prescription }}
    </div>
<div class="form-actions">
  <input type="submit" value="{% trans 'Approve' %}" class="btn btn-primary" name="_save"/>
  <input type="submit" value="{% trans 'Reviewed and not approved' %}" class="btn btn-danger" name="_cancel"/>
</div>
</form>
{% elif current.approval_status ==  current.APPROVAL_APPROVED %}
<p>Are you sure to wish to extend the approval of this ePFP for two weeks from {{ current.current_approval.valid_to }} to {{ current.current_approval.next_valid_to }}?</p>
<h5>Approval History</h5>
{% if current.carried_over %}
    <blockquote>I am satisfied that the content of this re-scheduled ePFP has been
    reviewed and is accurate and current.</blockquote>
{% endif %}
<blockquote>
I confirm that the persons who have prepared this plan and
have provided the above endorsements are competent and authorised to
do so and I confirm that the plan has been prepared in accordance with
the DPaW procedure for planning prescribed fire plans.</blockquote>
<form action="" method="post">{% csrf_token %}
<div class="form-actions">
  <input type="submit" value="{% trans 'Extend Approval' %}" class="btn btn-primary" name="_save"/>
  <input id="id_cancel_button" type="submit" value="{% trans 'Cancel' %}" class="btn btn-danger" name="_cancel"/>
</div>
</form>
{% endif %}
{% endblock %}
