{% extends "admin/base_site.html" %}
{% load i18n staticfiles admin_list %}

{% block extrastyle %}
<style>
.progress {
    text-align: center;
    font-size: 12px;
}
.pending a,
.pending a:hover {
    background-color: rgb(242, 222, 222);
}
</style>
{% endblock %}

{% block extrahead %}
{{ block.super }}
<script type="text/javascript">
    $( document ).ready(function() {
        $('#id_valid_to').datepicker({dateFormat:'yy-mm-dd', changeMonth: true, changeYear: true})
    });
</script>
{% endblock %}

{% block breadcrumbs %}
<ul class="breadcrumb">
  <li><a href="{% url 'admin:index' %}">{% trans 'Regional Overview' %}</a> <span class="divider">/</span></li>
  <li>{{ current.burn_id }}</li>
</ul>
{% endblock %}

{% block contentwrapper %}
<div class="row">
<div class="span9">
<ul class="nav nav-tabs">
    <li class="active"><a href="{{ overview }}">Overview</a></li>
    <li><a href="{{ parta }}">Part A</a></li>
    <li><a href="{{ partb }}">Part B</a></li>
    <li><a href="{{ partc }}">Part C</a></li>
</ul>
<h1>ePFP Overview</h1>
<table class="table table-striped table-condensed" style="table-layout: fixed;">
  <tbody>
    <tr>
      <th>Burn ID</th>
      <td>{{ current.burn_id }}</td>
      <th>Burn name</th>
      <td style="word-wrap: break-word;" colspan="3">{{ current.name }}</td>
    </tr>
    <tr>
      <th>Region</th>
      <td>{{ current.region }}</td>
      <th>District</th>
      <td colspan="3">{{ current.district }}</td>
    </tr>
    <tr>
      <th>Aerial ignition?</th>
      <td>{% if current.aircraft_burn %}Aerial{% else %}Ground{% endif %}</td>
      <th>Planned area (ha)</th>
      <td colspan="3">{{ current.area }}</td>
    </tr>
    <tr>
      <th>Risk level</th>
      <td>{{ current.maximum_risk_html }}</td>
      <th>Contentious?</th>
      <td colspan="3">{% if current.contentious %}Yes{% else %}No{% endif %}</td>
    </tr>
    <tr>
      <th>Burn complexity</th>
      <td>
          {% with current.get_maximum_complexity as complexity %}
          <span class="label {% if complexity.rating == complexity.RATING_LOW %}label-low{% elif complexity.rating == complexity.RATING_MEDIUM %}label-medium{% elif complexity.rating == complexity.RATING_HIGH %}label-high{% endif %}">{{ current.maximum_complexity }}</span>
          {% endwith %}
      </td>
      <th>Burn priority</th>
      <td colspan="3">{{ current.get_priority_display }}</td>
    </tr>
  </tbody>
</table>
<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th><a href="{% url 'admin:prescription_prescription_summary' current.pk %}">Part A</a></th>
      <th><a href="{% url 'admin:prescription_prescription_day_summary' current.pk %}">Part B</a></th>
      <th><a href="{% url 'admin:prescription_prescription_post_summary' current.pk %}">Part C</a></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
          <div class="progress{% if current.pre_state < 33 %} progress-danger{% elif current.pre_state.progress < 66 %} progress-warning{% else %} progress-success{% endif %}">
          {% if current.pre_state.progress < 50 %}{{ current.pre_state.progress }}%{% endif %}
          <div class="bar" style="width: {{ current.pre_state.progress }}%;">{% if current.pre_state.progress >= 50 %}{{ current.pre_state.progress }}%{% endif %}</div>
        </div>
      </td>
      <td>
        <div class="progress {% if current.day_state < 33 %}progress-danger{% elif current.day_state.progress < 66 %}progress-warning{% else %}progress-success{% endif %}">
          {% if current.day_state.progress < 50 %}{{ current.day_state.progress }}%{% endif %}
          <div class="bar" style="width: {{ current.day_state.progress }}%;">{% if current.day_state.progress >= 50 %}{{ current.day_state.progress }}%{% endif %}</div>
        </div>
      </td>
      <td>
        <div class="progress {% if current.post_state < 33 %}progress-danger{% elif current.post_state.progress < 66 %}progress-warning{% else %}progress-success{% endif %}">
          {% if current.post_state.progress < 50 %}{{ current.post_state.progress }}%{% endif %}
          <div class="bar" style="width: {{ current.post_state.progress }}%;">{% if current.post_state.progress >= 50 %}{{ current.post_state.progress }}%{% endif %}</div>
        </div>
      </td>
    </tr>
  </tbody>
</table>
<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th width="20%">Corporate Program Approval</th>
      <th width="20%">ePFP Endorsement</th>
      <th width="20%">ePFP Approval</th>
      <th>Ignition commenced</th>
      <th>Ignition complete</th>
      <th>Burn closed</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
          {% if current.has_corporate_approval %}
            <span class="badge badge-success"><i class="icon-ok"></i> approved on {{ current.planning_status_modified|date }}</span>
          {% elif current.planning_status == current.PLANNING_SUBMITTED %}
            <span class="badge badge-warning"><i class="icon-minus"></i> submitted on {{ current.planning_status_modified|date }}</span>
          {% else %}
            <span class="badge badge-important"><i class="icon-minus"></i> draft</span>
          {% endif %}
      </td>
      <td>
          {% if current.is_endorsed %}
            <span class="badge badge-success"><i class="icon-ok"></i>endorsed on {{ current.endorsement_status_modified|date }}</span>
          {% elif current.endorsement_status == current.ENDORSEMENT_SUBMITTED %}
            <span class="badge badge-warning"><i class="icon-minus"></i> submitted on {{ current.endorsement_status_modified|date }}</span>
          {% else %}
            <span class="badge badge-important"><i class="icon-minus"></i> draft</span>
          {% endif %}
      </td>
      <td>
          {% if current.is_approved %}
          <span class="badge badge-success">
              <i class="icon-ok" style="display:inline-block; vertical-align:top;"></i>
              <span style="display:inline-block;">
              Approved by {{ current.current_approval_approver }} <br />
              until {{current.current_approval_valid_period }} <br />
              on {{ current.approval_status_modified|date }}
              </span>
          </span>
          {% elif current.approval_status == current.APPROVAL_SUBMITTED %}
          <span class="badge badge-warning">
              <i class="icon-minus"></i>
              submitted on {{ current.approval_status_modified|date }}
          </span>
          {% else %}
          <span class="badge badge-important">
              <i class="icon-minus"></i>
              not approved
          </span>
          {% endif %}
      </td>
      <td>{% if current.has_ignitions %}<span class="badge badge-success"><i class="icon-ok"></i> {{ current.ignition_commenced.ignition|date }}</span>{% else %}<span class="badge badge-important"><i class="icon-minus"></i>{% endif %}</td>
      <td>{% if current.is_burnt %}<span class="badge badge-success"><i class="icon-ok"></i> {{ current.ignition_completed_date }}</span>{% else %}<span class="badge badge-important"><i class="icon-minus"></i></span>{% endif %}</td>
      <td>{% if current.is_closed %}<span class="badge badge-success"><i class="icon-ok"></i></span>{% else %}<span class="badge badge-important"><i class="icon-minus"></i></span>{% endif %}</td>
    </tr>
  </tbody>
</table>
</div>
<div class="span3">
  <ul class="nav nav-list">
    <li class="nav-header">Actions</li>
    <li><a href="{{ sectiona1 }}"><i class="icon-pencil"></i> Summary & Approval</a></li>
    <li><a href="{{ upload_document }}"><i class="icon-cloud-upload"></i> Upload document</a></li>
    <li><a value="Download without attachments" id="id-down-1" class="file-download-1" href="#" url="{{ download_pdf }}?template=pfp&embed=false&download=true&id={{current.id}}" target="_self"><i class="icon-download"></i> Download without attachments</a></li>
    <li><a value="Download with attachments" id="id-down-2" class="file-download-1" href="#" url="{{ download_pdf }}?template=pfp&download=true" target="_self"><i class="icon-download-alt"></i> Download with attachments</a></li>
    <li><a href="{{ pdf_view }}"><i class="icon-pencil"></i> View PDFs</a></li>

    <li class="nav-header">Corporate Program Approval</li>
    <li>
      <div>
          <a id="corporate-approval"
             class="{% if current.has_corporate_approval %}
                        text-success
                    {% elif current.planning_status == current.PLANNING_SUBMITTED and not perms.prescription.can_corporate_approve %}
                        muted
                    {% endif %}"
             href="{% if not current.has_corporate_approval and perms.prescription.can_corporate_approve or current.planning_status == current.PLANNING_DRAFT %}
                        {% url 'admin:prescription_prescription_corporate_approve' current.pk %}
                   {% else %}
                        javascript:void(0)
                   {% endif %}">
              <i class="icon-group"></i>
              {% if current.has_corporate_approval %}
                Corporate approval given
              {% elif not current.planning_status == current.PLANNING_DRAFT and perms.prescription.can_corporate_approve %}
                Apply corporate approval
              {% else %}
                Submit for corporate approval
              {% endif %}
          </a>
        {% if perms.prescription.can_admin and current.has_corporate_approval %}
          <a id="delete-corporate-approval" href="{% url 'admin:prescription_prescription_corporate_approve' current.pk %}" class="btn btn-mini alert-error"><i class="icon-trash"></i></a>
        {% endif %}
      </div>
    </li>
    <li class="nav-header">ePFP Endorsements</li>
    <li>
        <a
        {% if not current.can_select_endorsing_roles %}
            class="muted"
        {% endif %}
        id="endorsing-roles"
        href="{% if current.can_select_endorsing_roles %}
                {% url 'admin:prescription_prescription_endorsing_roles' current.pk %}
            {% else %}javascript:void(0)
              {% endif %}"><i class="icon-user"></i>
            Determine endorsing roles
        </a>
    </li>
    <li>
    {% if current.can_endorse and current.is_draft %}
        {% include "admin/prescription/prescription/modals/submit_for_endorsement_btn.html" %}
    {% else %}
        <a id="endorse"
        class="{% if not current.can_endorse %}
                    muted
                {% elif current.is_endorsed %}
                    text-success
                {% endif %}"
        href="{% if not current.can_endorse %}
                    javascript:void(0)
                {% elif current.endorsement_status == current.ENDORSEMENT_SUBMITTED %}
                    {% url 'admin:prescription_prescription_endorse' current.pk %}
                {% endif %}
                {% if current.can_endorse and current.is_endorsed %}
                    endorsement
                {% endif %}">
            {% if not current.can_endorse or current.endorsement_status != current.ENDORSEMENT_DRAFT %}
                <i class="icon-tag"></i>
                {% if current.endorsement_status == current.ENDORSEMENT_DRAFT %}
                    Submit for endorsement
                {% elif current.is_endorsed %}
                    Endorsed
                {% else %}
                    Endorse this ePFP
                {% endif %}
                {% endif %}
        </a>
    {% endif %}
    </li>
    <li class="nav-header">ePFP Approval</li>
    <li>
    {% if current.can_epfp_approve and not current.is_closed %}{% include "admin/prescription/prescription/modals/submit_for_epfp_approval_btn.html" %}
    {% else %}<a id="approve" href="javascript:void(0)"
      {% if current.get_maximum_risk.final_risk_level == current.get_maximum_risk.LEVEL_VERY_HIGH %}class="muted"><i class="icon-minus"></i> This burn can not be approved
      {% elif current.is_approved %}class="text-success"><i class="icon-ok"></i> Approved
      {% elif current.is_closed %}<i class="icon-ok"></i> Approved
      {% else  %}class="muted"><i class="icon-minus"></i> Submit for approval
      {% endif %}</a>
    {% endif %}
    </li>
    <li class="nav-header">Burn closure</li>
    <li{% if not current.can_close or current.status == current.STATUS_CLOSED %} class="disabled"{% endif %}><a href="{% if current.can_close and current.status != current.STATUS_CLOSED %}{% url 'admin:prescription_prescription_close' current.pk %}{% else %}javascript:void(0);{% endif %}"><i class="icon-folder-close"></i> {% if current.can_close %}{% if current.status == current.STATUS_CLOSED %}Burn closed{% else %}Close this burn{% endif %}{% else %}Burn closure unavailable{% endif %}</a></li>
  </ul>
</div>
</div>
{% if current.can_epfp_approve %}{% include "admin/prescription/prescription/modals/submit_for_epfp_approval.html" %}{% endif %}
{% if current.can_endorse and current.endorsement_status == current.ENDORSEMENT_DRAFT %}{% include "admin/prescription/prescription/modals/submit_for_endorsement.html" %}{% endif %}

<div id="dialog-confirm"></div>

<script>

{% if current.has_corporate_approval or current.planning_status == current.PLANNING_SUBMITTED and not perms.prescription.can_corporate_approve %}
$('a#corporate-approval').popover({
    'placement': 'left',
    'title': 'Corporate Approval',
    'content': ' \
    {% if current.has_corporate_approval %} \
    This ePFP has already been approved by corporate executive. \
    {% elif current.planning_status == current.PLANNING_SUBMITTED and not perms.prescription.can_corporate_approve %} \
    You need to be an ePFP Application Administrator to apply corporate approval to an ePFP. \
    {% endif %}',
    'html': 'true'
});
{% endif %}
$('a#endorsing-roles').popover({
    'placement': 'left',
    'title': 'Determine Endorsing Roles',
    'content': ' \
    <ul class="nav nav-list"> \
        {% if not current.pre_state.complexity_analysis %} \
        <li><a href="{{ sectiona5 }}"><i class="icon-eye-open"></i> Complete Complexity Analysis</a></li> \
        {% endif %} \
        {% if not current.pre_state.risk_register %} \
        <li><a href="{{ sectiona6 }}"><i class="icon-warning-sign"></i> Complete Risk Register</a></li> \
        {% endif %} \
    </ul>',
    'html': 'true'
});
$('a#endorse').popover({
    'placement': 'left',
    'title': 'Endorse ePFP',
    'content': ' \
    <ul class="nav nav-list"> \
        {% if not current.pre_state.finished %} \
        <li><a href="{{ parta }}"><i class="icon-dashboard"></i> Complete Part A</a></li> \
        {% endif %} \
        {% if not current.day_state.finished %} \
        <li><a href="{{ partb }}"><i class="icon-dashboard"></i> Complete Part B</a></li> \
        {% elif current.is_approved %} \
        <li>This ePFP has already been Approved</li> \
        {% else %} \
        <li>Endorse this ePFP</li> \
        {% endif %} \
    </ul>',
    'html': 'true'
});
$('a#approve').popover({
    'placement': 'left',
    'title': 'Approve ePFP',
    'content': ' \
    {% if current.get_maximum_risk.final_risk_level == current.get_maximum_risk.LEVEL_VERY_HIGH %} \
    The risk level is too high to submit this ePFP for Approval. \
    {% elif current.is_approved and not current.current_approval.extension_count < 3 %} \
    This ePFP has been extended the maximum number of times and can no longer be extended. \
    {% elif current.is_closed %} \
    This ePFP has been closed and can not be extended. \
    {% else %} \
    Please ensure the ePFP is endorsed before trying to submit it for approval. \
    {% endif %}',
    'html': 'true'
});

var FILESIZE = 10.;
$('.file-download-1').on('click', function(e) {
  var ID = e.target.id
  var size = {{ current.uploaded_documents_total_size }}
  if (ID=="id-down-2" && size > FILESIZE) // size in MB
    fnOpenNormalDialog(ID, size);
  else
    download(ID, size);
});

var myVar
function download(ID, size) {

  var id = '#' + ID;
  var origUrl = $(id).attr('url');
  var origHtml = $(id).html();
  var text = $(id).attr('value')
  var txtMsg = '. Downloading ...';
  var origCol = $(id).css('color');
  var msg_downloading = "<strong>{{ current.burn_id }}</strong> &#x2010; Creating PDF Document:  <strong>" + text + "</strong>";

  clear_cookie();
  myVar = setInterval(function(){ wait_for_cookie(id, origHtml, origCol, size) }, 1000);

  growl(msg_downloading, 'success');
  $(id).append(txtMsg).css('color', 'red');;
  download_pdf(origUrl); // request the download via ajax to avoid the href refresh (delay not working issue)
}

function wait_for_cookie(id, origHtml, origCol, size) {
    var token = '_token';
    var token2 = '_token_10';

    var cookieValue = $.cookie('fileDownloadToken');
    if (cookieValue == token || cookieValue == token2) {
      $(id).html(origHtml).css('color', origCol);
      stop_waiting();
      var fileUrl = $.cookie('fileUrl');
      var msg = "<strong>{{ current.burn_id }}</strong> &#x2010; Create PDF Document: <a href='" + fileUrl + "'>Download Complete</a>.<br>You will receive an email notification.";
      if (cookieValue == token2) //(size > FILESIZE)
        msg = msg + "<br><br>File Size = " + size
      growl(msg, 'success'); // a warning message to indicate large file size
      clear_cookie();
    }
}

function clear_cookie() {
  $.cookie('fileDownloadToken', null, { path: '/' }); //clears this cookie value
  $.removeCookie('fileDownloadToken'); //clears this cookie value

  $.cookie('fileUrl', null, { path: '/' }); //clears this cookie value
  $.removeCookie('fileUrl'); //clears this cookie value
}

function stop_waiting() {
    clearInterval(myVar);
}

function growl(msg, type) {
  $.growl(msg, {
    type: type,
    animate: {
      enter: 'animated bounceIn',
      exit: 'animated bounceOut'
    },
    offset: {
      x: 100,
      y: 20
    },
    delay: 10000,
  });
}

function download_pdf(url){
  $.ajax({
    url: url, //"{{ download_pdf }}?template=pfp&embed=false&download=true&id={{current.id}}",
    type: "GET",
    //data: data
  }).done(function(data) {
    console.log('data: ' + data);
  }).fail(function(msg) {
    console.log('Fail msg: ' + msg)
  });
}

function fnOpenNormalDialog(ID, size) {
    //var html = "<strong>{{ current.burn_id }}</strong> &#x2010; PDF Document: Attachments Size > 10 MB. You may wish to consider downloading again without attachments.</strong>";
    var html = "<strong>Attachments Size is " + size + " MB.<br><br>You may wish to consider downloading again without attachments.</strong>";
    $("#dialog-confirm").html(html);

    // Define the Dialog and its properties.
    $("#dialog-confirm").dialog({
        resizable: false,
        modal: true,
        title: "Create PDF - {{ current.burn_id }}",
        height: 250,
        width: 400,
        buttons: {
            "Proceed": function () {
                $(this).dialog('close');
                download(ID, size)
                //callback(true);
            },
                "Cancel": function () {
                $(this).dialog('close');
                //callback(false);
            }
        }
    });
}

$('#btnOpenDialog').click(fnOpenNormalDialog);

function callback(value) {
    if (value) {
        alert("Confirmed");
    } else {
        alert("Rejected");
    }
}


</script>
{% endblock %}
